{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style>
		.header-transparent .nav-menu li a .submenu-indicator-chevron{
	    	border-color: transparent #fff #fff transparent;
	    }
	    .blue-nav {
		    color: #fff !important;
		}
		.text-message{
			border: 2px solid rgb(200, 200, 200);
		    border-radius: 0px;
		    transition: all 0.4s ease 0s;
		    padding: 13px 29px;
		    width: calc(100% - 55px);
		    /* height: 132px; */
		    margin-top: 0px;
		    margin-bottom: 0px;
		}
		{% if app.request.locale == "ar" %}

			h2,h3,p,input,label {
				direction: rtl;
			}
			.xs-unorder-list, .xs-title{
				text-align: right;
			}
			.xs-contact-section-v2{
				direction: rtl;
			}
			.xs-unorder-list li i {
			    padding: 0 17px;
			}
		{% endif %}
	</style>
	
{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
<section class="xs-banner-inner-section parallax-window banner-image-content" style="background-image:url('{{asset('assets/images/backgrounds/child.jpg')}}')">
	<div class="xs-black-overlay"></div>
	
</section>
<!--breadcumb end here--><!-- End welcome section -->


<main class="xs-main">
	<!-- contact section -->
	<section class="xs-contact-section-v2">
	<div class="container">
		<div class="xs-contact-container contact-content" style="background-color: white;">
			<div class="row">
				<div class="col-lg-6">
				<div class="xs-contact-details">
					<div class="xs-widnow-wraper">
						<div class="xs-window-top">
							<img class="img-content" src="{{asset('assets/images/rabat.jpg')}}" alt="">
						</div>
						<div class="xs-window-back">
							<div id="xs-map" class="xs-box-shadow-2">
								
							</div>
						</div>
						<div class="xs-window-nav">
							<a href="#" class="xs-window-opener">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
					<!-- xs-widnow-wraper -->
					<ul class="xs-unorder-list">
						<li><i class="fa fa-phone color-green"></i><span>{{"contact.tel"|trans}}</span></li>
						<li><i class="fa fa-map-marker color-green"></i>{{"contact.address"|trans}}</li>
					</ul>
				</div>
				<!-- xs-contact-details -->
			</div>
			<div class="col-lg-6">
				<div class="xs-donation-form-wraper" >
					<div class="xs-heading xs-mb-30">
						<h2 class="xs-title">{{"contact.text1"|trans}}</h2>
						{# <p class="small">{{"contact.text2"|trans}}"<span class="color-green">{{"contact.green"|trans}}</span>"{{"contact.text3"|trans}} <span class="color-green">0537 77 58 88</span>.</p> #}
						<span class="xs-separetor v2"></span>
						<br>
					</div><!-- .xs-heading end -->
					<form action="#" method="POST" id="xs-donation-form" class="xs-donation-form" >
						<div class="xs-input-group">
							{# <label for="xs-donate-name">{{"contact.nom"|trans}} <span class="color-light-red">**</span></label> #}
							<input type="text" name="name" id="xs-donate-name" class="form-control" placeholder="{{"contact.nom"|trans}}">
						</div>
						
						<div class="xs-input-group">
							{# <label for="xs-donate-name">Prenom <span class="color-light-red">**</span></label> #}
							<input type="text" name="Prenom" id="xs-donate-name" class="form-control" placeholder="{{"contact.prenom"|trans}}">
						</div>

						<div class="xs-input-group">
							{# <label for="xs-donate-name">Profession <span class="color-light-red">**</span></label> #}
							<input type="text" name="Profession" id="xs-donate-name" class="form-control" placeholder="{{"contact.profession"|trans}}">
						</div>

						<div class="xs-input-group">
							{# <label for="xs-donate-name">Adresse mail  <span class="color-light-red">**</span></label> #}
							<input type="email" name="name" id="xs-donate-name" class="form-control" placeholder="{{"contact.mail"|trans}}">
						</div>

						<div class="xs-input-group">
							{# <label for="xs-donate-name">{{"contact.message"|trans}} <span class="color-light-red">**</span></label> #}
							<textarea  class="form-control text-message" name="message" placeholder="{{"contact.message"|trans}}"></textarea>
						</div>

						<button type="submit" class="btn btn-warning"><span class="badge"><i class="fa fa-send-o"></i></span>{{"contact.envoyer"|trans}}</button>
					</form><!-- .xs-donation-form #xs-donation-form END -->
				</div>
			</div>
			
			</div><!-- .row end -->
		</div><!-- .xs-contact-container END -->
	</div><!-- .container end -->
</section>	<!-- End contact section -->
</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-con").addClass('active');
		});
	</script>
{% endblock %}