{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('front/css/mystyle_mystyle_1.css')}}">
	<style>
	    .xs-header{
	    	background-color: #fff !important;
	    }
	    .timeline-list li:before{
		    right: -1.175em !important;
		    left: auto !important;
		}
		.timeline-list:before{
		    right: -0.25em !important;
		    left: auto !important;
		}
		.timeline-list:after{
			right: -0.78em !important;
			left: auto !important;
		}
		.ar-content{
	       	text-align: right !important;
	      	direction: rtl !important;
		}
		.t-block-teal p {
		    font-size: 15px !important;
		    color: #40403e !important;
		}
		.header-transparent .nav-menu li a .submenu-indicator-chevron{
	    	border-color: transparent #041d57 #041d57 transparent;
	    }
	</style>
	<link rel="stylesheet" href="{{asset('front/css/timeline.css')}}">
	
{% endblock %}
{% block body %}
	{{ render(controller("TWCOndeBundle:Default:topMenuAr")) }}
	<section class="xs-missions-section-v1 block-content t-block-teal l-block-spacing">
		<div class="l-contained">
			<header class="heading-group">
				<h2>لمحة تاريخية</h2>
			</header>
			<ul class="timeline-list timeline-list-ar">
				<li class="ar-list">
					<div class="content content-time-line ar-content">
						<h3>1995 : مارس  </h3>
						<p>
						لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

						وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.

						وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"
						</p>
					</div>
				</li>
				<li class="ar-list">
					<div class="content content-time-line ar-content">
						<h3>1998 : مارس</h3>
						<p>
						لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

						وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.

						وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"
						</p>
					</div>
				</li>
				<li class="ar-list">
					<div class="content content-time-line ar-content">
						<h3>2004 : مارس</h3>
						<p>
						لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

						وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.

						وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"
						</p>
					</div>
				</li>



				<li class="ar-list">
					<div class="content content-time-line ar-content">
						<h3>2008 : مارس</h3>
						<p>
						لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

						وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.

						وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"
						</p>
					</div>
				</li>
			</ul>



		</div>

	</section>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".white-header").css('display','none');
		});
	</script>
{% endblock %}
