{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style type="text/css" media="screen">
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
		.xs-service-promo h5{
			color: #1e1e1e !important;
		}
		.breadcrumb{
			margin-top:15px;position: absolute;right: 15px;
		}
		@media only screen and (max-width: 992px){
			.breadcrumb{
				margin-top:15px;position: initial;
			}
			.blockq-img {
			    margin-left: 0;
			}
			.second-quote:before ,.block-mission:before{
				left: 0
			}
		}
	</style>
{% if app.request.locale == "ar" %}
<style type="text/css" media="screen">
	
	
	.xs-unorder-list li i{
		padding-left: 17px;
	}
	.text-icon-mis{
		text-align: center !important;
	}
	.xs-contact-form .input-group-text{
		border-left: 2px solid #eeeeee;
		border-right: 0;
	}
	.xs-contact-form input:not([type="submit"]), .xs-contact-form textarea{
		border-left: 0;
		border-right: 2px solid #eeeeee;
	}
	.xs-service-promo h5, .xs-service-promo p ,.xs-post-entry-title a,.xs-event-content p,{
		font-size: 20px;
	}
	.blockq-img{
		font-size: 18px;
	}

</style>
{% endif %}
{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
			{# <div class="container">
				<div class="color-white xs-inner-banner-content">
					<ul class="xs-breadcumb">
						<li class="badge badge-pill badge-primary"><a href="index.html" class="color-white"> {{"missions.redirect.home"|trans}}</a> {{"missions.redirect.missions"|trans}}</li>
					</ul>
				</div>
			</div> #}
			
		</section>
	</section>

	<main class="xs-main">
		<section class="xs-content-section-padding">
			<div class="container">
				{# <div class="xs-heading row col-lg-10 xs-mb-70 text-center mx-auto">
					<h2 class="xs-mb-0 xs-title">{{"missions.section1.title"|trans}} <span class="color-green">{{"missions.section1.text"|trans}}</span></h2>
				</div> #}
				
					<div class="row">
						<div class="col-lg-6 col-md-12 offset-lg-3 order-md-2 order-lg-first">
							<div class=" xs-inner-banner-content pb-3">
							<h2 class="color-title-b">{{"missions.center-title"|trans}}</h2>
							</div>
						</div>
						<div class="col-lg-3 col-md-12 text-lg-right order-md-first order-lg-2">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
								<li class="breadcrumb-item active" aria-current="page">{{"header.aProposONDE.mission"|trans}}</li>
							</ol>
						</div>
					</div>
					
				
				<div class="row">
					<div class="col-lg-11 content-center">
				        <div class="xs-event-content">
				        	{# <h4> {{"missions.center-title"|trans}}</h4> #}
							<p class="mission-descr"> {{"missions.description1"|trans}}</p>
						</div>
					</div>
					<div class="col-lg-11 content-center mission-block">
				        <div class="xs-event-content">
							<blockquote class="blockq-img block-mission">
								{{"missions.description2"|trans|raw}} 
							</blockquote>

							<blockquote class="blockq-img block-mission second-quote">
								
							</blockquote>	
						</div>
					</div>
					<div class="col-lg-11 content-center  mission-block">
						<h2 class="entry-title xs-post-entry-title">
			 				<a href="#">{{"missions.title-card"|trans}}</a>
			 			</h2>
				 	</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-6" style="text-align: center;">
						<div class="xs-service-promo">
							<span class="color-green">
								<img src="{{asset('assets/images/network.png')}}" alt="" class="icon-img">
							</span>
							<h5 class="text-icon-mis">{{"missions.section1.cards.card4.text1"|trans}} <br>{{"missions.section1.cards.card4.text2"|trans|raw}}</h5>
							<p>{{"missions.section1.cards.card4.description"|trans}}</p>
						</div><!-- .xs-service-promo END -->
					</div>
					<div class="col-md-6 col-lg-6" style="text-align: center;">
						<div class="xs-service-promo">
							<span class="color-orange">
								<img src="{{asset('assets/images/completed-task.png')}}" alt="" class="icon-img">
							</span>
							<h5 class="text-icon-mis">{{"missions.section1.cards.card1.text1"|trans}}<br>{{"missions.section1.cards.card1.text2"|trans}}</h5>
							<p>{{"missions.section1.cards.card1.description"|trans}}</p>
						</div><!-- .xs-service-promo END -->
					</div>

					
				</div>
				<div class="row mt-5">
					<div class="col-md-6 col-lg-6" style="text-align: center;">
						<div class="xs-service-promo">
							<span class="color-red">
								<img src="{{asset('assets/images/customer-service.png')}}" alt="" class="icon-img">
							</span>
							<h5 class="text-icon-mis">{{"missions.section1.cards.card2.text1"|trans}} <br>{{"missions.section1.cards.card2.text2"|trans}}</h5>
							<p>{{"missions.section1.cards.card2.description"|trans}}</p>
						</div><!-- .xs-service-promo END -->
					</div>
					<div class="col-md-6 col-lg-6" style="text-align: center;">
						<div class="xs-service-promo">
							<span class="color-purple">
								<img src="{{asset('assets/images/boy.png')}}" alt="" class="icon-img">
							</span>
							<h5 class="text-icon-mis">{{"missions.section1.cards.card3.text1"|trans}} <br>{{"missions.section1.cards.card3.text2"|trans}}</h5>
							<p>{{"missions.section1.cards.card3.description"|trans}}</p>
						</div><!-- .xs-service-promo END -->
					</div>

					
				</div>
			</div>
		</section>

		{# <section class="xs-section-padding bg-gray-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="xs-causes-images">
							<img src="{{asset('front/images/causes/causes_11.jpg')}}" class="d-block" alt="">
						</div><!-- .xs-causes-images END -->
						<div class="xs-causes-images">
							<img src="{{asset('front/images/causes/causes_12.jpg')}}" class="d-block" alt="">
						</div><!-- .xs-causes-images END -->
					</div>
					<div class="col-lg-8">
						<div class="xs-fature-causes-deatils">
							<h3> {{"missions.section2.text1"|trans}} <span class="color-green">{{"missions.section2.text2"|trans}}</span> {{"missions.section2.text3"|trans}}</h3>
							<ul class="xs-unorder-list">
								<li><i class="fa fa-houzz color-orange"></i>{{"missions.section2.small1"|trans}}</li>
								<li><i class="fa fa-gears color-light-green"></i>{{"missions.section2.small2"|trans}}</li>
								<li><i class="fa fa-group color-purple"></i>{{"missions.section2.small3"|trans}}</li>
								<li><i class="fa fa-mercury color-light-red"></i>{{"missions.section2.small4"|trans}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section> #}

		{# <section class="parallax-window xs-call-to-action-section" style="background-image: url('{{asset('front/images/backgrounds/parallax_2.jpg')}}');">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<div class="xs-call-to-action">
							<h3>{{"missions.section3.title"|trans}} </h3>
							<div class="xs-btn-wraper">
								<a href="#" class="btn btn-warning">
									{{"missions.section3.text1"|trans}}
								</a>
								<a href="#" class="btn btn-success">
									{{"missions.section3.text2"|trans}}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="xs-black-overlay"></div>
		</section>

		<section class="xs-section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="xs-contact-form-wraper">
							<div class="xs-heading xs-mb-40">
								<h2 class="xs-title">{{"missions.section4.title"|trans}}</h2>
								<p class="small">To learn more about registering your charity with us visit our "<span class="color-green" >Work with us</span>" site. By calling <span class="color-green" >+44(0) 111 222 3333.</span></p>
								<span class="xs-separetor v2"></span>
							</div><!-- .xs-heading end -->

							<form action="#" method="POST" id="xs-contact-form" class="xs-contact-form">
								<div class="input-group">
									<input type="text" name="name" id="xs-name" class="form-control" placeholder="{{"missions.section4.name"|trans}}">
									<div class="input-group-append">
										<div class="input-group-text"><i class="fa fa-user"></i></div>
									</div>
								</div><!-- .input-group END -->
								<div class="input-group">
									<input type="email" name="email" id="xs-email" class="form-control" placeholder="{{"missions.section4.email"|trans}}">
									<div class="input-group-append">
										<div class="input-group-text"><i class="fa fa-envelope-o"></i></div>
									</div>
								</div><!-- .input-group END -->
								<div class="input-group massage-group">
									<textarea name="massage" placeholder="{{"missions.section4.message"|trans}}" id="xs-massage" class="form-control" cols="30" rows="10"></textarea>
									<div class="input-group-append">
										<div class="input-group-text"><i class="fa fa-pencil"></i></div>
									</div>
								</div><!-- .input-group END -->
								<button class="btn btn-success" type="submit" id="xs-submit">{{"missions.section4.submit"|trans}}</button>
							</form><!-- .xs-contact-form #xs-contact-form END -->
						</div><!-- .xs-contact-form-wraper END -->
					</div>
					<div class="col-lg-6">
						<div class="xs-maps-wraper">
							<div id="xs-map" class="xs-box-shadow-2">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> #}
	</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-it").addClass("active");
		    $(".header-transparent .nav-menu li .selected-it .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
		});
	</script>
{% endblock %}