{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style type="text/css" media="screen">
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
	</style>
{% if app.request.locale == "ar" %}
<style type="text/css" media="screen">
	
	
	.xs-unorder-list li i{
		padding-left: 17px;
	}
	.text-icon-mis{
		text-align: center !important;
	}
	.xs-contact-form .input-group-text{
		border-left: 2px solid #eeeeee;
		border-right: 0;
	}
	.xs-contact-form input:not([type="submit"]), .xs-contact-form textarea{
		border-left: 0;
		border-right: 2px solid #eeeeee;
	}
	.xs-service-promo h5, .xs-service-promo p ,.xs-post-entry-title a,.xs-event-content p,{
		font-size: 20px;
	}
	.blockq-img{
		font-size: 18px;
	}
	.breadcrumb{
		margin-top:15px;position: absolute;right: 15px;
	}
	@media only screen and (max-width: 992px){
		.breadcrumb{
			margin-top:15px;position: initial;
		}
	}
</style>
{% endif %}
{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
			
		</section>
	</section>

	<section class="xs-content-section-padding pt-section-presentation">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 offset-lg-3 order-md-2 order-lg-first">
					<div class=" xs-inner-banner-content pb-3">
						<h2 class="color-title-b">{{"organnigramme.title"|trans}}</h2>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 text-lg-right order-md-first order-lg-2">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{"header.aProposONDE.organigramme"|trans}}</li>
					</ol>
				</div>
			</div>
			{# <div class="xs-inner-banner-content pb-3">
				<h2 class="color-title-b">{{"organnigramme.title"|trans}}</h2>
			</div> #}
			<div class="row">
				<div class="col-lg-11 content-center">
					<div class="xs-event-content">
						{% if app.request.locale == "fr" %}
							<img src="{{asset('assets/images/organi_fr.png')}}" alt="" style="">
						{% elseif app.request.locale == "en" %}
							<img src="{{asset('assets/images/organi_en.png')}}" alt="" style="">
						{% else %}
							<img src="{{asset('assets/images/organi_ar.png')}}" alt="" style="">
						{% endif %}
					</div>
				</div>
				
			</div>
	</section>	
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-it").addClass("active");
		    $(".header-transparent .nav-menu li .selected-it .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
		});
	</script>
{% endblock %}