{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style>
		.xs-unorder-list.check li{
			padding-left: 60px !important;
		}
		.left-descri{
				text-align: left;
			}
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
	</style>
	{% if app.request.locale == "ar" %}
	<style type="text/css" media="screen">
		
		
		.xs-unorder-list li i{
			padding-left: 17px;
		}
		.text-icon-mis{
			text-align: center !important;
		}
		.xs-contact-form .input-group-text{
			border-left: 2px solid #eeeeee;
			border-right: 0;
		}
		.xs-contact-form input:not([type="submit"]), .xs-contact-form textarea{
			border-left: 0;
			border-right: 2px solid #eeeeee;
		}
		.list-re{
			text-align: right !important;
			margin-right: 50px !important;
		}
		.xs-unorder-list li:before{
		    position: absolute;
		    content: "";
		    left: auto;
		    top: 0;
		    font-family: "FontAwesome";
		    color: #18bfc3;
		    right: -45px;
		}
		.left-descri{
			text-align: right;
		}
		.breadcrumb{
			margin-top:15px;position: absolute;right: 15px;
		}
		@media only screen and (max-width: 992px){
			.breadcrumb{
				margin-top:15px;position: initial;
			}
		}
	</style>
	{% endif %}
{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
			<div class="container">
				{# <div class="color-white xs-inner-banner-content">
					<ul class="xs-breadcumb">
						<li class="badge badge-pill badge-primary"><a href="index.html" class="color-white"> {{"plaidoyer.text1"|trans}} /</a> {{"plaidoyer.text2"|trans}}</li>
					</ul>
				</div> #}
				
			</div>
		</section>
	</section>

	<main class="xs-main">
		<section class="xs-content-section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 offset-lg-3 order-md-2 order-lg-first">
						<div class=" xs-inner-banner-content pb-3">
						<h2 class="color-title-b">{{"plaidoyer.center-title"|trans}}</h2>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 text-lg-right order-md-first order-lg-2">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{"header.aProposONDE.PLAIDOYER"|trans}}</li>
						</ol>
					</div>
				</div>
				{# <div class="xs-inner-banner-content pb-3">
					<h2 class="color-title-b">{{"plaidoyer.center-title"|trans}}</h2>
				</div> #}
				<div class="row">
					<div class="col-lg-12 content-center">
				        <div class="xs-event-content">
				        	{# <h4>{{"plaidoyer.center-title"|trans}}</h4> #}
							<p class="mission-descr">{{"plaidoyer.description"|trans}}</p>
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-lg-12">
						<div class="xs-service-slider-content">
							<div class="row">
								<div class="col-md-6 col-lg-6 mb-3">
									{# <ul class="xs-unorder-list check list-re">
										<li class="link-re">{{"plaidoyer.desc4"|trans}}</li>
										
									</ul> #}
									<div class="row">
										<div class="col-md-3 col-lg-2 col-sm-3 col-12 text-center text-md-left">
											<img src="{{asset('assets/images/team.png')}}" alt="" class="icon-img-small">
										</div>
										<div class="left-descri col-md-9 col-lg-10 col-sm-9 col-12 link-re">
											{{"plaidoyer.desc4"|trans}}
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 mb-3">
									{# <ul class="xs-unorder-list check list-re">
										<li class="link-re">{{"plaidoyer.desc5"|trans}}</li>
										
									</ul> #}
									<div class="row">
										<div class="col-md-3 col-lg-2 col-sm-3 col-12 text-center text-md-left">
											<img src="{{asset('assets/images/family.png')}}" alt="" class="icon-img-small">
										</div>
										<div class="left-descri col-md-9 col-lg-10 col-sm-9 col-12 link-re">
											{{"plaidoyer.desc5"|trans}}
										</div>
									</div>
								</div>
								
							</div>
							<div class="row mt-5">
								<div class="col-md-6 col-lg-6 mb-3">
									{# <ul class="xs-unorder-list check list-re">
										<li class="link-re">{{"plaidoyer.desc6"|trans}}</li>
										
									</ul> #}
									<div class="row">
										<div class="col-md-3 col-lg-2 col-sm-3 col-12 text-center text-md-left">
											<img src="{{asset('assets/images/assigment.png')}}" alt="" class="icon-img-small">
										</div>
										<div class="left-descri col-md-9 col-lg-10 col-sm-9 col-12 link-re">
											{{"plaidoyer.desc6"|trans}}
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 mb-3">
									{# <ul class="xs-unorder-list check list-re">
										<li class="link-re">{{"plaidoyer.desc7"|trans}}</li>
										
									</ul> #}
									<div class="row">
										<div class="col-md-3 col-lg-2 col-sm-3 col-12 text-center text-md-left">
											<img src="{{asset('assets/images/justice.png')}}" alt="" class="icon-img-small">
										</div>
										<div class="left-descri col-md-9 col-lg-10 col-sm-9 col-12 link-re">
											{{"plaidoyer.desc7"|trans}}
										</div>
									</div>
								</div>
								
							</div>
							<div class="row mt-5">
								<div class="col-md-6 col-lg-6 mb-3">
									{# <ul class="xs-unorder-list check list-re">
										<li class="link-re">{{"plaidoyer.desc3"|trans}}</li>
										
									</ul> #}
									<div class="row">
										<div class="col-md-3 col-lg-2 col-sm-3 col-12 text-center text-md-left">
											<img src="{{asset('assets/images/nation.jpg')}}" alt="" class="icon-img-small">
										</div>
										<div class="left-descri col-md-9 col-lg-10 col-sm-9 col-12 link-re">
											{{"plaidoyer.desc3"|trans}}
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 mb-3">
									{# <ul class="xs-unorder-list check list-re">
										<li class="link-re">{{"plaidoyer.desc8"|trans}}</li>
										
									</ul> #}
									<div class="row">
										<div class="col-md-3 col-lg-2 col-sm-3 col-12 text-center text-md-left">
											<img src="{{asset('assets/images/participation.png')}}" alt="" class="icon-img-small">
										</div>
										<div class="left-descri col-md-9 col-lg-10 col-sm-9 col-12 link-re">
											{{"plaidoyer.desc8"|trans}}
										</div>
									</div>
								</div>
								
							</div>
							{# <div class="row mt-5">
								<div class="col-md-6 col-lg-6">
									<div class="row">
										<div class="col-md-3 col-lg-2 col-sm-3 col-12 text-center text-md-left">
											<img src="{{asset('assets/images/plan.png')}}" alt="" class="icon-img-small">
										</div>
										<div class="left-descri col-md-9 col-lg-10 col-sm-9 col-12 link-re">
											{{"plaidoyer.desc1"|trans}}
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
									<div class="row">
										<div class="col-md-3 col-lg-2 col-sm-3 col-12 text-center text-md-left">
											<img src="{{asset('assets/images/report.png')}}" alt="" class="icon-img-small">
										</div>
										<div class="left-descri col-md-9 col-lg-10 col-sm-9 col-12 link-re">
											{{"plaidoyer.desc2"|trans}}
										</div>
									</div>
								</div>
								
							</div> #}
						</div><!-- .xs-service-slider-content END -->
					</div>
				</div>
			</div>
		</section>
	</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-it").addClass("active");
		    $(".header-transparent .nav-menu li .selected-it .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
		});
	</script>
{% endblock %}