{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style>
		{% if app.request.locale == "ar" %}
			.content-center{
				padding-right: 0px;
			}
			.black-title{
				text-align: right !important;
			}
		{% endif %}
		.breadcrumb{
			margin-top:15px;position: absolute;right: 15px;
		}
		@media only screen and (max-width: 992px){
			.breadcrumb{
				margin-top:15px;position: initial;
			}
		}
		.video-container {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
		}

		.video-container iframe,  
		.video-container object,  
		.video-container embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	</style>

{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('/front/images/backgrounds/parralax_3.jpg')}}')">
	<div class="xs-black-overlay"></div>
	{# <div class="container">
		<div class="color-white xs-inner-banner-content">
			<h2>{{"presentation.title"|trans}}</h2>
		</div>
	</div> #}
	<div class="container">
		<div class="color-white xs-inner-banner-content">
			{# <h2>{{"presentation.title"|trans}}</h2> #}
			{# <ul class="xs-breadcumb">
				<li class="badge badge-pill badge-primary"><a href="index.html" class="color-white"> {{"presentation.text1"|trans}} /</a> {{"presentation.text2"|trans}}</li>
			</ul> #}
		</div>
	</div>
</section>
<!--breadcumb end here--><!-- End welcome section -->


<main class="xs-main">
	<!-- video popup section section -->
	<div class="xs-video-popup-section video-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 content-center">
				{# <div style="padding:56.25% 0 0 0;position:relative;">
					<iframe src="https://player.vimeo.com/video/381990622?title=0&byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						
					</div><script src="https://player.vimeo.com/api/player.js"></script> #}
				<div class="xs-video-popup-wraper video-container">
					<iframe width="560" height="315" src="{{ app.request.locale != "en" ? 'https://www.youtube.com/embed/mdZIN4nEyxo': 'https://www.youtube.com/embed/_iqhy55OSe8'}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					{# <img src="{{asset('assets/images/videoS.png')}}" alt="">
					<div class="xs-video-popup-content">
						<a href="{{asset('assets/files/ONDE Vierge.mp4')}}" class="xs-video-popup xs-round-btn">
							<i class="fa fa-play"></i>
						</a>
					</div> #}<!-- .xs-video-popup-content end -->
				</div><!-- .xs-video-popup-wraper end -->
			</div>
		</div><!-- .row end -->
	</div><!-- .container end -->
</div>
<section class="xs-content-section-padding pt-section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 offset-lg-3 order-md-2 order-lg-first">
				<div class=" xs-inner-banner-content pb-3">
					<h2 class="color-title-b">{{"presentation.text2"|trans}}</h2>
				</div>
			</div>
			<div class="col-lg-3 col-md-12 text-lg-right order-md-first order-lg-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{"header.aProposONDE.ONDEenBref"|trans}}</li>
					
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 content-center">

				{# <div class="xs-event-content" style="display: inline-flex;">
					<h4>{{"presentation.text2"|trans}}</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">Accueil</a></li>
						<li class="breadcrumb-item active" aria-current="page">L'ONDE en bref</li>
					</ol>
				</div> #}
				<div class="xs-event-content">
					<p>{{"presentation.text3"|trans}}</p>
				</div>
			</div>
			
		</div>
		{# <div class="row" >
					<div class="col-lg-6">
						<div class="xs-service-slider-content">
							<h2 class="black-title">{{"presentation.realisation.first.title"|trans}}</h2>
							<div class="row">
								<div class="col-md-12">
									<p class="link-re">{{"presentation.realisation.first.description"|trans}}</p>
								</div>
							</div>
						</div><!-- .xs-service-slider-content END -->
					</div>
					<div class="col-lg-6 bkg-re" style="background-image:url('{{asset('front/images/backgrounds/vacc.jpg')}}');">
					</div>
		</div>
		<hr class="ligne-sepa">
		<div class="row mat-5" style="margin-top: 10rem !important;">
			<div class="col-lg-6 bkg-re" style="background-image:url('{{asset('front/images/backgrounds/douar.jpg')}}');background-size: contain;">
			</div>
			<div class="col-lg-6">
				<div class="xs-service-slider-content">
					<h2 class="black-title">{{"presentation.realisation.second.title"|trans}}</h2>
					<div class="row">
						<div class="col-md-12">
							<p class="link-re">{{"presentation.realisation.second.description1"|trans}} :</p>
							<ul class="xs-unorder-list check list-re">
								<li><p class="link-re">{{"presentation.realisation.second.description2"|trans}}</p></li>
							</ul>
						</div>
						<div class="col-md-12">
							<ul class="xs-unorder-list check list-re">
								<li><p class="link-re">{{"presentation.realisation.second.description3"|trans}}</p></li>
							</ul>
						</div>
					</div>
				</div><!-- .xs-service-slider-content END -->
			</div>
		</div>
		<hr class="ligne-sepa">
		<div class="row mat-5" style="margin-top: 10rem !important;">
			<div class="col-lg-6">
				<div class="xs-service-slider-content">
					<h2 class="black-title">{{"presentation.realisation.third.title"|trans}}</h2>
					<div class="row">
						<div class="col-md-12">
							<p class="link-re">{{"presentation.realisation.third.description1"|trans}} :</p>
							<ul class="xs-unorder-list check list-re">
								<li class="firt-list"><p class="link-re">{{"presentation.realisation.third.description2"|trans}} :</p></li>
								<li><p class="link-re">{{"presentation.realisation.third.description3"|trans}} :</p></li>
							</ul><!-- .xs-unorder-list .check END -->
						</div>
						<div class="col-md-12">
							<ul class="xs-unorder-list check list-re">
								<li><p class="link-re">{{"presentation.realisation.third.description4"|trans}} :</p></li>
							</ul><!-- .xs-unorder-list .check END -->
						</div>
					</div>
				</div><!-- .xs-service-slider-content END -->
			</div>
			<div class="col-lg-6 bkg-re" style="background-image:url('{{asset('assets/images/img17.jpg')}}');">
			</div>
		</div> #}
</section>	


</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-it").addClass("active");
		    $(".header-transparent .nav-menu li .selected-it .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
		});
	</script>
{% endblock %}