<header class="header" id="pageTop" style="height: auto;">
	<div class="color-bars">
  		<div class="container-fluid">
			<div class="row">
	          	<div class="col color-bar bg-warning d-none d-md-block"></div>
	          	<div class="col color-bar bg-success d-none d-md-block"></div>
	          	<div class="col color-bar bg-danger d-none d-md-block"></div>
	          	<div class="col color-bar bg-info d-none d-md-block"></div>
	          	<div class="col color-bar bg-purple d-none d-md-block"></div>
	          	<div class="col color-bar bg-pink d-none d-md-block"></div>
	          	<div class="col color-bar bg-warning"></div>
	          	<div class="col color-bar bg-success"></div>
	          	<div class="col color-bar bg-danger"></div>
	          	<div class="col color-bar bg-info"></div>
	          	<div class="col color-bar bg-purple"></div>
	          	<div class="col color-bar bg-pink"></div>
			</div>
  		</div>
	</div>
	<!-- Navbar -->

  	<nav class="navbar navbar-expand-md navbar-white" style="opacity: 1;">
	    <div class="container">
	        <a class="navbar-brand" href="#">
	          <img class="d-inline-block" src="{{asset('front/images/logo ONDE 2 3-3 250x200.png')}}" alt="" style="max-height: 87px;">
	        </a>
	        <!-- cart-dropdown -->
	        <div class="dropdown cart-dropdown ml-auto mr-5 d-md-none">
	          	<div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            	<a href="javascript:void(0)">
	              		<span class="rounded-sm bg-pink icon-small icon-badge d-none">
	                		<i class="fa fa-close text-white" aria-hidden="true"></i>
	              		</span>
		              	<span class="rounded-sm bg-pink icon-small icon-badge ">
		                	<i class="fa fa-shopping-basket text-white" aria-hidden="true"></i>
		                	<span class="badge bg-warning">3</span>
		              	</span>
	            	</a>
	          	</div>
	          	<div class="dropdown-menu dropdown-menu-right">
	            	<ul class="bg-white list-unstyled">
	              		<li class="d-flex align-items-center">
	                		<i class="fa fa-shopping-basket font-size-20 mr-3" aria-hidden="true"></i>
	                		<h3 class="text-capitalize font-weight-bold mb-0">3 items in your cart</h3>
	              		</li>
	              		<hr>
	              		<li>
			                <a href="product-single.html">
			                  	<div class="media">
			                    	<div class="image">
			                      		<img class="bg-light rounded-sm px-5 py-3 mr-4" src="{{asset('front/img/products/product-sm.png')}}" alt="cart-Image">
			                    	</div>
			                    	<div class="media-body">
				                      	<div class="d-flex justify-content-between">
				                        	<h4 class="text-dark">Barbie Racing Car</h4>
				                        	<span class="cancel">
				                          		<i class="fa fa-close text-muted" aria-hidden="true"></i>
				                        	</span>
				                      	</div>
				                      	<div class="price">
				                        	<span class="text-warning font-weight-medium">$50</span>
				                      	</div>
				                      	<span class="text-muted font-weight-medium text-muted">Qnt: 1</span>
			                    	</div>
			                  	</div>
			                </a>
			                <hr>
			            </li>
	             		<li>
			                <a href="product-single.html">
			                  	<div class="media">
				                    <div class="image">
				                      	<img class="bg-light rounded-sm px-5 py-3 mr-4" src="{{asset('front/img/products/product-sm.png')}}" alt="cart-Image">
				                    </div>
				                    <div class="media-body">
				                      	<div class="d-flex justify-content-between">
				                        	<h4 class="text-dark">Barbie Racing Car</h4>
				                        	<span class="cancel">
				                          		<i class="fa fa-close text-muted" aria-hidden="true"></i>
				                        	</span>
				                      	</div>
				                      	<div class="price">
				                        	<span class="text-warning font-weight-medium">$50</span>
				                      	</div>
				                      	<span class="text-muted font-weight-medium">Qnt: 1</span>
				                    </div>
				                 </div>
			                </a>
			                <hr>
			            </li>
	              		<li>
			                <a href="product-single.html">
			                  	<div class="media">
				                    <div class="image">
				                      	<img class="bg-light rounded-sm px-5 py-3 mr-4t" src="{{asset('front/img/products/product-sm.png')}}" alt="cart-Image">
				                    </div>
			                    	<div class="media-body">
			                      		<div class="d-flex justify-content-between">
			                        		<h4 class="text-dark font-weight-bold">Barbie Racing Car</h4>
			                        		<span class="cancel">
			                          			<i class="fa fa-close text-muted" aria-hidden="true"></i>
			                        		</span>
			                      		</div>
			                      		<div class="price">
			                        		<span class="text-warning font-weight-medium">$50</span>
			                      		</div>
			                      		<span class="text-muted font-weight-medium">Qnt: 1</span>
			                    	</div>
			                  	</div>
			                </a>
			                <hr>
			            </li>
			            <li>
			                <div class="d-flex justify-content-between mb-3">
			                  	<h3 class="cart-total font-weight-bold">Subtotal</h3>
			                  	<h3 class="cart-price font-weight-bold">$150</h3>
			                </div>
			                <div class="cart-button d-flex justify-content-between">
			                  	<button type="button" class="btn btn-danger text-uppercase px-4 shadow-sm mr-3" onclick="location.href='product-checkout-step-1.html';">Checkout</button>
			                  	<button type="button" class="btn btn-danger text-uppercase px-4 shadow-sm" onclick="location.href='product-cart.html';">View Cart</button>
			                </div>
			            </li>
	            	</ul>
	          	</div>
	        </div>
	        <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
	          	<i class="fa fa-bars"></i>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarContent">
	          	<ul class="navbar-nav ml-lg-auto">
		            <li class="nav-item dropdown bg-warning">
		              	<a class="nav-link dropdown-toggle  active " href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                	<i class="fa fa-home nav-icon" aria-hidden="true"></i>
		                	<span>Parlement de l'enfant</span>
		              	</a>
		              	<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
		                	<li>
		                  		<a class="dropdown-item  active " href="{{path('parlement_presentation')}}">Présentation</a>
		                	</li>
			                <li>
			                  	<a class="dropdown-item " href="{{path('parlement_role')}}">Rôle</a>
			                </li>
			                <li>
			                  	<a class="dropdown-item " href="{{path('parlement_composition')}}">Composition</a>
			                </li>
			                <li>
			                  	<a class="dropdown-item " href="{{path('parlement_commissions')}}">Commissions</a>
			                </li>
		              	</ul>
		            </li>
		            <li class="nav-item dropdown bg-danger">
		              	<a class="nav-link dropdown-toggle " href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                	<i class="fa fa-list-ul nav-icon" aria-hidden="true"></i>
		                	<span>Sessions parlementaires</span>
		              	</a>
		              	<ul class="dropdown-menu">
		                	<li>
		                  		<a class="dropdown-item" href="#">Régional</a>
		                  		<ul class="sub-menu">
		                  			<li><a class="" href="{{path('parlement_regional_presentation')}}">Présentation</a></li>
		                  			<li><a class="" href="{{path('parlement_regional_activites')}}">Activités</a></li>
		                  			<li><a class="" href="{{path('parlement_regional_session')}}">Sessions</a></li>
		                  		</ul>
		                	</li>
		                	<li>
		                  		<a class="dropdown-item" href="#">National</a>
		                  		<ul class="sub-menu">
		                  			<li><a class="" href="{{path('parlement_national_presentation')}}">Présentation</a></li>
		                  			<li><a class="" href="{{path('parlement_national_activites')}}">Activités</a></li>
		                  			<li><a class="" href="{{path('parlement_national_session')}}">Sessions</a></li>
		                  		</ul>
		                	</li>
		              	</ul>
		            </li>
		            <li class="nav-item dropdown bg-success">
		              	<a class="nav-link dropdown-toggle " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                	<i class="fa fa-file-text-o nav-icon" aria-hidden="true"></i>
		                	<span>Agenda de l'enfant parlementaire</span>
		              	</a>
		              	<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
		                	<li>
		                  		<a class="dropdown-item  active " href="{{path('parlement_agenda_presentation')}}">Présentation</a>
		                	</li>
			                <li>
			                  	<a class="dropdown-item " href="{{path('parlement_agenda_priorites')}}">Priorités par région</a>
			                </li>
			                <li>
			                  	<a class="dropdown-item " href="{{path('parlement_agenda_ep')}}">Agenda de l'EP</a>
			                </li>
		              	</ul>
		            </li>
		            <li class="nav-item dropdown bg-info">
		              	<a class="nav-link dropdown-toggle " href="javascript:void(0)" id="stores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                	<i class="fa fa-pencil-square-o nav-icon" aria-hidden="true"></i>
		                	<span>Activités des parlementaires</span>
		              	</a>
		              	<ul class="dropdown-menu">
		                	<li>
		                  		<a class="dropdown-item" href="#">Session 2017-2019</a>
		                  		<ul class="sub-menu">
		                  			<li><a class="" href="{{path('parlement_activites_presentation')}}">Présentation</a></li>
		                  			<li><a class="" href="{{path('parlement_activites_membres')}}">Membres</a></li>
		                  			<li><a class="" href="{{path('parlement_activites_carte')}}">Carte des commissions</a></li>
		                  		</ul>
		                	</li>
		                </ul>
		            </li>
		            <li class="nav-item dropdown bg-purple">
		              	<a class="nav-link dropdown-toggle " href="javascript:void(0)" id="stores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                	<i class="fa fa-calendar nav-icon" aria-hidden="true"></i>
		                	<span>C.A.P.E</span>
		              	</a>
		              	<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
		                	<li>
		                  		<a class="dropdown-item  active " href="{{path('parlement_cape_presentation')}}">Présentation</a>
		                	</li>
			                <li>
			                  	<a class="dropdown-item " href="{{path('parlement_cape_reseau')}}">Réseau des CAPE</a>
			                </li>
		              	</ul>
		            </li>
		            <li class="nav-item dropdown bg-danger">
		              	<a class="nav-link dropdown-toggle " href="{{path('parlement_mediatheque_index')}}">
		                	<i class="fa fa-home nav-icon" aria-hidden="true"></i>
		                	<span>Mediathèque</span>
		              	</a>
		            </li>
		            <li class="nav-item dropdown bg-success">
		              	<a class="nav-link dropdown-toggle " href="{{path('parlement_documentation_index')}}">
		                	<i class="fa fa-home nav-icon" aria-hidden="true"></i>
		                	<span>Documentation</span>
		              	</a>
		            </li>
		            <li class="nav-item dropdown bg-info">
		              	<a class="nav-link dropdown-toggle " href="#">
		                	<i class="fa fa-home nav-icon" aria-hidden="true"></i>
		                	<span>Contact</span>
		              	</a>
		              	<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
		                	<li>
		                  		<a class="dropdown-item  active " href="{{path('parlement_contact_telfax')}}">Tel/Fax</a>
		                	</li>
		                </ul>
		            </li>
	          	</ul>
	        </div>
      	</div>
    </nav>
</header>
	  