<style>
.details{
	line-height: 2.8 !important;
}
	{% if app.request.locale == "ar" %}
        footer{
        	    direction: rtl;
        }
	{% endif %}
</style>
<footer class="xs-footer-section">
	<div class="container">
		<div class="xs-footer-top-layer" style="padding-top: 50px;
        padding-bottom: 30px;">
			<div class="row">
				<div class="col-lg-4 col-md-6 footer-widget xs-pr-20">
					<a href="{{path('twc_onde_homepage')}}" class="xs-footer-logo">
						<img src="{{asset('front/images/logo_onde.png')}}" alt="">
					</a>
					<ul class="xs-social-list-v2">
						<li><a href="https://facebook.com/ONDEMaroc/?ref=br_rs" target="_blank" class="color-facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/ondemaroc" target="_blank" class="color-twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/ondemaroc" target="_blank" class="color-dribbble"><i class="fa fa-instagram"></i></a></li>
						{# <li><a href="" class="color-pinterest"><i class="fa fa-pinterest"></i></a></li> #}
					</ul><!-- .xs-social-list END -->
					<p style="margin-left: 0px;margin-top: 10px;">&copy; {{"footer.copyright.first"|trans}} <a href="{{path('twc_onde_homepage')}}">{{"footer.copyright.second"|trans}}.</a></p>
				</div>
				<div class="col-lg-4 col-md-6 footer-widget">
					<h3 class="widget-title">{{"footer.apropos.title"|trans}}</h3>
					<ul class="xs-footer-list">
						<li><a href="{{path('presentation')}}">{{"footer.apropos.first"|trans}}</a></li>
						<li><a href="{{path('missions')}}">{{"footer.apropos.second"|trans}}</a></li>
						<li><a href="{{path('realisations')}}">{{"footer.apropos.third"|trans}}</a></li>
						<li><a href="{{path('plaidoyer')}}">{{"footer.apropos.forth"|trans}}</a></li>
						<li><a href="{{path('historique')}}">{{"footer.apropos.fifth"|trans}}</a></li>
						<li><a href="{{path('organigramme')}}">{{"footer.apropos.sixth"|trans}}</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 footer-widget">
					<h3 class="widget-title">{{"footer.contact.title"|trans}}</h3>
					<ul class="xs-info-list">
						<li class="details"><i class="fa fa-home"></i>47 rue Mellouza, Rabat</li>
						<li class="details"><i class="fa fa-phone"></i>05377-55099</li>
						<li class="details"><i class="fa fa-envelope-o"></i><a href="mailto:secretariat@onde.ma">secretariat@onde.ma</a></li>
					</ul><!-- .xs-list-with-icon END -->
				</div>
			</div>
		</div>
	</div>
	{# <div class="container">
		<div class="xs-copyright">
			<div class="row">
				<div class="col-md-6 text-left">
					<div class="xs-copyright-text">
						<p>&copy; {{"footer.copyright.first"|trans}} <a href="{{path('twc_onde_homepage')}}">{{"footer.copyright.second"|trans}}.</a> - {{"footer.copyright.third"|trans}}</p>
					</div>
				</div>
			</div>
		</div>
	</div> #}
	<div class="xs-back-to-top-wraper">
		<a href="#" class="xs-back-to-top"><i class="fa fa-angle-up"></i></a>
	</div>
</footer>