{% if app.request.locale == "ar" %}
<style type="text/css" media="screen">
	.xs-header .nav-menu li a {
    	font-size: 18px;
	}
	@media only screen and (max-width: 600px ){
		.nav-menu>li {
		    text-align: right !important;
		    
		}
		.blue-nav{
			color: #333333 !important;
		}
		.header-transparent .nav-menu li a, .xs-box .nav-menu li a{
			padding: 30px 40px !important;
		}
	}
	@media only screen and (min-width: 600px ) and (max-width: 768px) {
		.nav-menu>li {
		    text-align: right !important;
		    
		}
		.blue-nav{
			color: #333333 !important;
		}
		.header-transparent .nav-menu li a, .xs-box .nav-menu li a{
			padding: 30px 40px !important;
		}
		.header-transparent .nav-menu li a .submenu-indicator-chevron{
			border-color: transparent #333333 #333333 transparent !important;
		}
	}
	.xs-menus .nav-menu li .nav-submenu {
	    top: 65px;
	}
	@media (min-width: 992px) and (max-width: 992px){
		.nav-logo img{
			display: none;
		}
	}
	@media (min-width: 992px) and (max-width: 1220px){
		.nav-menus-wrapper .glob{
			direction: ltr;
		}
		.nav-menus-wrapper .glob .nav-menu-ar{
			direction: rtl;
		    float: left;
		}
	}
	@media only screen and (max-width: 991px){
		.nav-logo{
			display: block;
		    position: relative;
		    z-index: 1;
		    background-image: url("{{asset('front/images/logo-bg-co2.png')}}");
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center center;
		    -webkit-filter: drop-shadow(8px 0px 16px rgba(0, 0, 0, 0.2));
		    filter: drop-shadow(2px 0px 0px rgba(0, 0, 0, 0.2));
		    min-height: 90px;
		    max-height: 140px;
		    line-height: 110px;
		    text-align: center;
		}
		.nav-logo img{
			height: 70px !important;
		    position: initial !important;
		    margin: 5px 12px 5px 12px !important;
		}
	}
</style>
{% endif %}
<link rel="stylesheet" href="{{asset('front/css/mystyle_mystyle_1.css')}}">
<!-- End header section -->
<header class="xs-header header-transparent white-header">
	{# <div class="kids-zone-btn kids-zone-btn-ar">
		<a href="donate-now.html" class="btn donateNow">
			<img class="kids-logo-header" src="{{asset('assets/images/kids-zone.png')}}" alt="">
		</a>
	</div> #}
	<div class="container">
		
		<!-- .xs-logo-wraper END -->
		<nav class="xs-menus xs_nav-landscape">
			<div class="nav-header">
				<div class="nav-toggle white-nav-toggle"></div>
				<a href="{{path('twc_onde_homepage')}}" class="nav-logo">
					<img src="{{asset('front/images/logo_onde_ar.png')}}" alt="">
				</a>
			</div><!-- .nav-header END -->
			<div class="nav-menus-wrapper row" style="margin-right: 80px;">

				<div class="col-lg-12 glob">
					<ul class="nav-menu nav-menu-ar nav-menu-ar list-header-ma">
						
						<li><a href="" class="list-header">
								<div class="">المرصد</div>
							</a>
							<ul class="nav-dropdown nav-submenu" style="right: auto;">
								<li><a href="{{path('presentation')}}">
										<div>تقديم</div>
									</a>
								</li>
								<li><a href="{{path('historique')}}">
										<div>لمحة تاريخية</div>
									</a>
								</li>
								<li><a href="{{path('missions')}}">
										<div>المهام</div>
									</a>
								</li>
								<li><a href="{{path('realisations')}}">
										<div>الإنجازات</div>
									</a>
								</li>
								<li><a href="{{path('plaidoyer')}}">
										<div>الترافع</div>
									</a>
								</li>
								
								{# <li><a href="{{path('organigramme')}}">
										<div>الهيكل التنظيمي</div>
									</a>
								</li> #}
							</ul>
							
						</li>
						<li><a href="" class="list-header">
								<div class="">المشاريع</div>
							</a>
							<ul class="nav-dropdown nav-submenu" style="right: auto;">
								<li><a href="{{path('protection')}}">
										<div>الحماية</div>
									</a>
								</li>
								<li><a href="{{path('participation')}}">
										<div>المشاركة</div>
									</a>
								</li>
								<li><a href="{{path('sante')}}">
										<div>الصحة</div>
									</a>
								</li>
								<li><a href="{{path('observatoire')}}">
										<div>الرصد و التتبع</div>
									</a>
								</li>
								{#<li><a  href="{{path('cnde')}}">
										<div>المؤتمر الوطني لحقوق الطفل</div>
									</a></li> #}
								<li><a href="{{path('campagne')}}">
										<div>حملة "مدن أفريقية بدون أطفال في أوضاع الشوارع"</div>
									</a>
								</li>
							</ul>
						</li>
						<li class=""><a href="{{path('index_actualite')}}" class="list-header">
								<div class="">المستجدات</div>
							</a>
						</li>
						{# <li class=""><a href="{{path('publications')}}" class="list-header">
								<div class="">الفضاء الوثائقي</div>
							</a>
						</li> #}
						<li class=""><a class="list-header">
								<div class="">المنشورات</div>
							</a>
							<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
								<li><a href="{{ path('twc_onde_etudes')}}">
										<div>دراسات وتقارير</div>
									</a>
								</li>
								<li><a href="{{path('twc_onde_photos_videos')}}">
										<div>صور وفيديوهات</div>
									</a>
								</li>
							</ul>
						</li>
						<li class=""><a href="{{path('documentation')}}" class="list-header">
								<div class="">فضاء الصحافة</div>
							</a>
						</li>
						<li class=""><a href="{{path('twc_enfants_homepage')}}" target="_blank" class="list-header">
								<div class="">بوابة الطفل</div>
							</a>
						</li>
						{# <li class=""><a href="{{asset('assets/telechargements/appel_offre.pdf')}}" target="_blank" class="list-header">
								<div class="">طلب عروض</div>
							</a>
						</li> #}
						<li class=""><a href="{{ path('formulaire')}}" class="list-header">
								<div class="">التواصل معنا</div>
							</a>
						</li>
						<li class="">
							<a href="#" class="list-header">
								<div class="">
									{% if app.request.locale == "fr" %}
										<img src="{{asset('assets/images/drapeau-france.jpg')}}" class="drapeau "> Fr
									{% elseif app.request.locale == "en" %}
										<img src="{{asset('assets/images/drapeau-angleterre.jpg')}}" class="drapeau "> En
									{% elseif app.request.locale == "ar" %}
										<img src="{{asset('assets/images/drapeau-maroc.jpg')}}" class="drapeau "> Ar
									{% endif %}
								</div>
								<span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span>
							</a>
							<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
								<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
										<div><img src="{{asset('assets/images/drapeau-france.jpg')}}" class="drapeau"> Fr</div>
									</a>
								</li>
								<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ar'})) }}">
										<div><img src="{{asset('assets/images/drapeau-maroc.jpg')}}" class="drapeau"> Ar</div>
									</a>
								</li>
								<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
										<div><img src="{{asset('assets/images/drapeau-angleterre.jpg')}}" class="drapeau"> En</div>
									</a>
								</li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
			<div class="nav-overlay-panel"></div>
		</nav>
		<div class="xs-logo-wraper container-logo container-logo-ar xs-padding-0 d-sm-none d-none d-lg-block">
			<a class="nav-brand" href="{{path('twc_onde_homepage')}}">
					<img src="{{asset('front/images/logo_onde_ar.png')}}" alt="" class="logo white-logo">
				</a>
		</div>
	</div>
</header>

<header class="xs-header header-transparent blue-header">
	{# <div class="kids-zone-btn kids-zone-btn-ar">
		<a href="donate-now.html" class="btn donateNow">
			<img class="kids-logo-header" src="{{asset('assets/images/kids-zone.png')}}" alt="">
		</a>
	</div> #}
	<div class="container">
		
		<!-- .xs-logo-wraper END -->
		<nav class="xs-menus xs_nav-landscape">
			<div class="nav-header">
				<div class="nav-toggle"></div>
			</div><!-- .nav-header END -->
			<div class="nav-menus-wrapper row" style="margin-right: 80px;">

				<div class="col-lg-12 glob">
					<ul class="nav-menu nav-menu-ar nav-menu-ar list-header-ma">
						
						<li><a href="" class="list-header">
								<div class="blue-nav">المرصد</div>
							</a>
							<ul class="nav-dropdown nav-submenu" style="right: auto;">
								<li><a href="{{path('presentation')}}">
										<div>تقديم</div>
									</a>
								</li>
								<li><a href="{{path('historique')}}">
										<div>لمحة تاريخية</div>
									</a>
								</li>
								<li><a href="{{path('missions')}}">
										<div>المهام</div>
									</a>
								</li>
								<li><a href="{{path('realisations')}}">
										<div>الإنجازات</div>
									</a>
								</li>
								<li><a href="{{path('plaidoyer')}}">
										<div>الدعوة</div>
									</a>
								</li>
								
								{# <li><a href="{{path('organigramme')}}">
										<div>الهيكل التنظيمي</div>
									</a>
								</li> #}
							</ul>
							
						</li>
						<li><a href="" class="list-header">
								<div class="blue-nav">المشاريع</div>
							</a>
							<ul class="nav-dropdown nav-submenu" style="right: auto;">
								<li><a href="{{path('protection')}}">
										<div>الحماية</div>
									</a>
								</li>
								<li><a href="{{path('participation')}}">
										<div>المشاركة</div>
									</a>
								</li>
								<li><a href="{{path('sante')}}">
										<div>الصحة</div>
									</a>
								</li>
								<li><a href="{{path('observatoire')}}">
										<div>الرصد و التتبع</div>
									</a>
								</li>
								{#<li><a href="{{path('cnde')}}">
										<div>المؤتمر الوطني لحقوق الطفل</div>
									</a></li> #}
								<li><a href="{{path('campagne')}}">
										<div>حملة "مدن أفريقية بدون أطفال في أوضاع الشوارع"</div>
									</a>
								</li>
							</ul>
						</li>
						<li class=""><a href="{{path('index_actualite')}}" class="list-header">
								<div class="blue-nav">المستجدات</div>
							</a>
						</li>
						{# <li class=""><a href="{{path('publications')}}" class="list-header">
								<div class="blue-nav">الفضاء الوثائقي</div>
							</a>
						</li> #}
						<li class=""><a class="list-header">
								<div class="blue-nav">المنشورات</div>
							</a>
							<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
								<li><a href="{{ path('twc_onde_etudes')}}">
										<div>دراسات وتقارير</div>
									</a>
								</li>
								<li><a href="{{path('twc_onde_photos_videos')}}">
										<div>صور وفيديوهات</div>
									</a>
								</li>
							</ul>
						</li>
						<li class=""><a href="{{path('documentation')}}" class="list-header">
								<div class="blue-nav">فضاء الصحافة</div>
							</a>
						</li>
						<li class=""><a href="{{path('twc_enfants_homepage')}}" target="_blank" class="list-header">
								<div class="blue-nav">بوابة الطفل</div>
							</a>
						</li>
						{# <li class=""><a href="{{asset('assets/telechargements/appel_offre.pdf')}}" target="_blank" class="list-header">
								<div class="blue-nav">طلب عروض</div>
							</a>
						</li> #}
						<li class=""><a href="{{ path('formulaire')}}" class="list-header">
								<div class="blue-nav">التواصل معنا</div>
							</a>
						</li>
						<li class="">
							<a href="#" class="list-header">
								<div class="">
									{% if app.request.locale == "fr" %}
										<img src="{{asset('assets/images/drapeau-france.jpg')}}" class="drapeau "> Fr
									{% elseif app.request.locale == "en" %}
										<img src="{{asset('assets/images/drapeau-angleterre.jpg')}}" class="drapeau "> En
									{% elseif app.request.locale == "ar" %}
										<img src="{{asset('assets/images/drapeau-maroc.jpg')}}" class="drapeau "> Ar
									{% endif %}
								</div>
								<span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span>
							</a>
							<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
								<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
										<div><img src="{{asset('assets/images/drapeau-france.jpg')}}" class="drapeau"> Fr</div>
									</a>
								</li>
								<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ar'})) }}">
										<div><img src="{{asset('assets/images/drapeau-maroc.jpg')}}" class="drapeau"> Ar</div>
									</a>
								</li>
								<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
										<div><img src="{{asset('assets/images/drapeau-angleterre.jpg')}}" class="drapeau"> En</div>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav-overlay-panel"></div>
		</nav>
		<div class="xs-logo-wraper container-logo container-logo-ar  xs-padding-0">
			<a class="nav-brand" href="{{path('twc_onde_homepage')}}">
				<img src="{{asset('front/images/logo_onde_ar.png')}}" alt="" class="logo white-logo">
			</a>
		</div>
	</div>
</header>
