<style type="text/css" media="screen">
	.active{
		color: #5cb37c !important;
	}
	.search:avtive{
		outline: 0 !important;
	}
	#content {
	  	position: absolute;
	    height: 50px;
	    /*width: 300px;*/
        margin-left: 20px;
    	margin-top: 30px;
	}

	#content.on {
	  -webkit-animation-name: in-out;
	  animation-name: in-out;
	  -webkit-animation-duration: 0.7s;
	  animation-duration: 0.7s;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
	  -webkit-animation-iteration-count: 1;
	  animation-iteration-count: 1;
	}

	input {
	  box-sizing: border-box;
	  width: 30px;
	  height: 30px;
	  border: 4px solid #ffffff;
	  border-radius: 50%;
	  background: none;
	  color: #fff;
	  font-size: 16px;
	  font-weight: 400;
	  font-family: Roboto;
	  outline: 0;
	  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
	    padding 0.2s;
	  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
	    padding 0.2s;
	  -webkit-transition-delay: 0.4s;
	  transition-delay: 0.4s;
	  -webkit-transform: translate(-15%, -50%);
	  -ms-transform: translate(-15%, -50%);
	  transform: translate(-0%, -50%);
	}

	.search {
	  background: none;
	  position: absolute;
	  top: 0px;
	  left: 0;
	  height: 50px;
	  width: 50px;
	  padding: 0;
	  border-radius: 100%;
	  outline: 0;
	  border: 0;
	  color: inherit;
	  cursor: pointer;
	  -webkit-transition: 0.2s ease-in-out;
	  transition: 0.2s ease-in-out;
	  -webkit-transform: translate(-15%, -50%);
	  -ms-transform: translate(-15%, -50%);
	  transform: translate(-15%, -50%);

	}

	.search:before {
	      content: "";
	    position: absolute;
	    width: 20px;
	    height: 4px;
	    background-color: #fff;
	    -webkit-transform: rotate(55deg);
	    -ms-transform: rotate(55deg);
	    transform: rotate(55deg);
	    margin-top: 18px;
	    margin-left: 0px;
	    -webkit-transition: 0.2s ease-in-out;
	    transition: 0.2s ease-in-out;
	}

	.close1 {
	  -webkit-transition: 0.4s ease-in-out;
	  transition: 0.4s ease-in-out;
	  -webkit-transition-delay: 0.4s;
	  transition-delay: 0.4s;
	}

	.close1:before {
	  content: "";
	  position: absolute;
	  width: 27px;
	  height: 4px;
	  margin-top: -1px;
	  margin-left: -13px;
	  background-color: #fff;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	  -webkit-transition: 0.2s ease-in-out;
	  transition: 0.2s ease-in-out;
	}

	.close1:after {
	  content: "";
	  position: absolute;
	  width: 27px;
	  height: 4px;
	  background-color: #fff;
	  margin-top: -1px;
	  margin-left: -13px;
	  cursor: pointer;
	  -webkit-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	.square {
	  box-sizing: border-box;
	  padding: 0 00px 0 10px;
	  height: 50px;
	  border: 4px solid #ffffff;
	  border-radius: 0;
	  background: rgba(211, 211, 211, 0.8);
	  color: #fff;
	  font-family: Roboto;
	  font-size: 16px;
	  font-weight: 400;
	  outline: 0;
	  -webkit-transition: width 0.1s ease-in-out, border-radius 0.1s ease-in-out,
	    padding 0.1s;
	  transition: width 0.1s ease-in-out, border-radius 0.1s ease-in-out,
	    padding 0.1s;
	  -webkit-transition-delay: 0.1s, 0s, 0.1s;
	  transition-delay: 0.1s, 0s, 0.1s;
	  -webkit-transform: translate(-15%, -50%);
	  -ms-transform: translate(-15%, -50%);
	  transform: translate(-15%, -50%);
	  position: absolute;
	  right: 80px;
	  width: 200px;
	  padding-left: 40px;
	}

	#content2 {
	  	position: absolute;
	    height: 50px;
	    /*width: 300px;*/
        margin-left: 20px;
    	margin-top: 30px;
	}

	#content2.on {
	  -webkit-animation-name: in-out;
	  animation-name: in-out;
	  -webkit-animation-duration: 0.7s;
	  animation-duration: 0.7s;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
	  -webkit-animation-iteration-count: 1;
	  animation-iteration-count: 1;
	}

	.in2 {
	     box-sizing: border-box;
	    width: 20px;
	    height: 20px;
	    border: 4px solid #5cb37c;
	    border-radius: 50%;
	    background: none;
	    color: #5cb37c;
	    font-size: 16px;
	    font-weight: 400;
	    font-family: Roboto;
	    outline: 0;
	    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
	    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
	    -webkit-transition-delay: 0.4s;
	    transition-delay: 0.4s;
	    -webkit-transform: translate(-15%, -50%);
	    -ms-transform: translate(-15%, -50%);
	    transform: translate(12%, -45%);
	}

	.in2:focus {
	    outline: none !important;
	}

	.search2 {
	  background: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-15%, -50%);
    -ms-transform: translate(-15%, -50%);
    transform: translate(30%, -84%);

	}
	.search2:focus {
	    outline: none !important;
	}

	.search2:before {
	    content: "";
	    position: absolute;
	    width: 12px;
	    height: 4px;
	    background-color: #5cb37c;
	    -webkit-transform: rotate(55deg);
	    -ms-transform: rotate(55deg);
	    transform: rotate(55deg);
	    margin-top: 18px;
	    margin-left: 0px;
	    -webkit-transition: 0.2s ease-in-out;
	    transition: 0.2s ease-in-out;
	}

	.close2 {
	  -webkit-transition: 0.4s ease-in-out;
	  transition: 0.4s ease-in-out;
	  -webkit-transition-delay: 0.4s;
	  transition-delay: 0.4s;
	}

	.close2:before {
	  content: "";
	    position: absolute;
	    width: 18px;
	    height: 4px;
	    margin-top: 4px;
	    margin-left: -13px;
	    background-color: #5cb37c;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-transition: 0.2s ease-in-out;
	    transition: 0.2s ease-in-out;
	}

	.close2:after {
	  content: "";
	    position: absolute;
	    width: 18px;
	    height: 4px;
	    background-color: #5cb37c;
	    margin-top: 4px;
	    margin-left: -13px;
	    cursor: pointer;
	    -webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}

	.square2 {
	      box-sizing: border-box;
	    padding: 0 00px 0 10px;
	    height: 30px;
	    border: 4px solid #5cb37c;
	    border-radius: 0;
	    background: none;
	    color: #5cb37c;
	    font-family: Roboto;
	    font-size: 16px;
	    font-weight: 400;
	    outline: 0;
	    -webkit-transition: width 0.1s ease-in-out, border-radius 0.1s ease-in-out, padding 0.1s;
	    transition: width 0.1s ease-in-out, border-radius 0.1s ease-in-out, padding 0.1s;
	    -webkit-transition-delay: 0.1s, 0s, 0.1s;
	    transition-delay: 0.1s, 0s, 0.1s;
	    -webkit-transform: translate(-15%, -50%);
	    -ms-transform: translate(-15%, -50%);
	    transform: translate(-15%, -50%);
	    position: absolute;
	    right: 128px;
	    width: 156px;
	    padding-left: 32px;
	    margin-top: -1px;
	}
	.in2:active {
	    outline: none;
	}
	

	@media (min-width: 992px) and (max-width: 992px){
		.nav-logo img{
			display: none;
		}
	}
	@media (min-width: 992px) and (max-width: 1200px){
		.appel-doffre{
			display: none;
		}
		.nav-menus-wrapper.row{
			float: right;
    		margin-right: 25px;
		}
		.xs-header .nav-menu li a{
			font-size: 11px;
		}
	}
	
	@media only screen and (max-width: 991px){
		.nav-logo{
			display: block;
		    position: relative;
		    z-index: 1;
		    background-image: url("{{asset('front/images/logo-bg-co2.png')}}");
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center center;
		    -webkit-filter: drop-shadow(8px 0px 16px rgba(0, 0, 0, 0.2));
		    filter: drop-shadow(2px 0px 0px rgba(0, 0, 0, 0.2));
		    min-height: 90px;
		    max-height: 140px;
		    line-height: 110px;
		    text-align: center;
		}
		.nav-logo img{
			height: 70px !important;
		    position: initial !important;
		    margin: 5px 12px 5px 12px !important;
		}
	}
</style>
<header class="xs-header header-transparent white-header">
	<div class="container">
		<div class="xs-logo-wraper container-logo xs-padding-0 d-sm-none d-lg-block">
			<a class="nav-brand" href="{{path('twc_onde_homepage')}}">
				<img src="{{asset('front/images/logo_onde.png')}}" alt="" class="logo white-logo">
			</a>
		</div><!-- .xs-logo-wraper END -->
		<nav class="xs-menus xs_nav-landscape">
			<div class="nav-header">
				<div class="nav-toggle white-nav-toggle"></div>
				<a href="{{path('twc_onde_homepage')}}" class="nav-logo">
					<img src="{{asset('front/images/logo_onde.png')}}" alt="">
				</a>
			</div><!-- .nav-header END -->
			<div class="nav-menus-wrapper row">

				<div class="col-lg-12">
					<ul class="nav-menu">
							<li><a href="#" class="selected-it">
									<div class="">{{"header.aProposONDE.title"|trans}}</div><span class="submenu-indicator"><span
											class="submenu-indicator-chevron white-indicator"></span></span>
								</a>
								<ul class="nav-dropdown nav-submenu" style="right: auto;">
									<li><a href="{{path('presentation')}}">
											<div>{{"header.aProposONDE.ONDEenBref"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('historique')}}">
											<div>{{"header.aProposONDE.historique"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('missions')}}">
											<div>{{"header.aProposONDE.mission"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('realisations')}}">
											<div>{{"header.aProposONDE.realisations"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('plaidoyer')}}">
											<div>{{"header.aProposONDE.PLAIDOYER"|trans}}</div>
										</a>
									</li>
									
									{# <li><a href="{{path('organigramme')}}">
											<div>{{"header.aProposONDE.organigramme"|trans}}</div>
										</a>
									</li> #}
									{# <li><a href="#">
											<div>chiffres clés</div>
										</a>
									</li> #}
								</ul>
							</li>
							<li><a href="#" class="list-header selected-pr">
									<div class="">{{"header.projets.title"|trans}}</div><span class="submenu-indicator"><span
											class="submenu-indicator-chevron"></span></span>
								</a>
								<ul class="nav-dropdown nav-submenu" style="right: auto;">
									<li><a href="{{path('protection')}}">
											<div>{{"header.projets.protection"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('participation')}}">
											<div>{{"header.projets.participation"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('sante')}}">
											<div>{{"header.projets.sante"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('observatoire')}}">
											<div>{{"header.projets.veille_suivi"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('campagne')}}">
											<div>{{"header.projets.campagneVillesAfricaines"|trans}}</div>
										</a>
									</li>
								</ul>
							</li>
							<li class=""><a href="{{path('index_actualite')}}" class="list-header">
									<div class="selected-act">{{"header.actualites"|trans}}</div>
								</a>
							</li>
							<li class=""><a href="#" class="list-header selected-pubb">
									<div class="">{{"header.publications.title"|trans}}</div>
								</a>
								<ul class="nav-dropdown nav-submenu" style="right: auto;">
									<li><a href="{{path('twc_onde_etudes')}}">
											<div>{{"header.publications.etudes_Rapports"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('twc_onde_photos_videos')}}">
											<div>{{"header.publications.photos_Videotheques"|trans}}</div>
										</a>
									</li>
								</ul>
							</li>
							<li class=""><a href="{{ path('documentation')}}" class="list-header">
									<div>{{"header.espacePresse"|trans}}</div>
								</a>
							</li>
							<li class=""><a href="{{path('twc_enfants_homepage')}}"  target="_blank" class="list-header">
									<div class="">{{"header.portailEnfant"|trans}}</div>
								</a>
							</li>
							{# <li class="appel-doffre"><a href="{{asset('assets/telechargements/appel_offre.pdf')}}" target="_blank" class="list-header">
									<div class="">{{"header.appeldOffre"|trans}}</div>
								</a>
							</li> #}
							<li class=""><a href="{{ path('formulaire')}}" class="list-header">
									<div class="selected-con">{{"header.contact"|trans}}</div>
								</a>
							</li>
							<li class="">
								<li class=""><a href="#" class="list-header">
										<div class="">
											{% if app.request.locale == "fr" %}
												<img src="{{asset('assets/images/drapeau-france.jpg')}}" class="drapeau "> Fr
											{% elseif app.request.locale == "en" %}
												<img src="{{asset('assets/images/drapeau-angleterre.jpg')}}" class="drapeau "> En
											{% elseif app.request.locale == "ar" %}
												<img src="{{asset('assets/images/drapeau-maroc.jpg')}}" class="drapeau "> Ar
											{% endif %}
										</div>
										<span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span>
									</a>
									<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
										<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
												<div><img src="{{asset('assets/images/drapeau-france.jpg')}}" class="drapeau"> Fr</div>
											</a>
										</li>
										<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ar'})) }}">
												<div><img src="{{asset('assets/images/drapeau-maroc.jpg')}}" class="drapeau">Ar</div>
											</a>
										</li>
										<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
												<div><img src="{{asset('assets/images/drapeau-angleterre.jpg')}}" class="drapeau">En</div>
											</a>
										</li>
									</ul>
								</li>
							</li>
							<li class="">
								<form id="content">
								  	<input type="text" name="input" class="input" id="search-input">
								  	<button type="reset" class="search" id="search-btn"></button>
								</form>
							</li>
							

						</ul>
				</div>
			</div>
			<div class="kids-zone-btn white-kids-zone-btn">
				{# <a href="donate-now.html" class="btn donateNow">
					<img class="white-kids-zone" src="{{asset('assets/images/kids-zone.png')}}" alt="">
				</a> #}
				
			</div>
			<div class="nav-overlay-panel"></div>
		</nav>
	</div>
</header>

<header class="xs-header header-transparent blue-header">
		<div class="container">
			<div class="xs-logo-wraper container-logo xs-padding-0">
				<a class="nav-brand" href="{{path('twc_onde_homepage')}}">
					<img src="{{asset('front/images/logo_onde.png')}}" alt="" class="logo white-logo">
				</a>
			</div><!-- .xs-logo-wraper END -->
			<nav class="xs-menus xs_nav-landscape">
				<div class="nav-header">
					<div class="nav-toggle"></div>
				</div><!-- .nav-header END -->
				<div class="nav-menus-wrapper row">

					<div class="col-lg-12">
						<ul class="nav-menu list-header-ma">
							<li><a href="" class="list-header">
									<div class="blue-nav selected-it">{{"header.aProposONDE.title"|trans}}</div><span class="submenu-indicator"><span
											class="submenu-indicator-chevron"></span></span>
								</a>
								<ul class="nav-dropdown nav-submenu" style="right: auto;">
									<li><a href="{{path('presentation')}}">
											<div>{{"header.aProposONDE.ONDEenBref"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('historique')}}">
											<div>{{"header.aProposONDE.historique"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('missions')}}">
											<div>{{"header.aProposONDE.mission"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('realisations')}}">
											<div>{{"header.aProposONDE.realisations"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('plaidoyer')}}">
											<div>{{"header.aProposONDE.PLAIDOYER"|trans}}</div>
										</a>
									</li>
									
									{# <li><a href="{{path('organigramme')}}">
											<div>{{"header.aProposONDE.organigramme"|trans}}</div>
										</a>
									</li> #}
									{# <li><a href="">
											<div>chiffres clés</div>
										</a>
									</li> #}
								</ul>
							</li>
							<li><a href="" class="list-header selected-pr">
									<div class="blue-nav">{{"header.projets.title"|trans}}</div><span class="submenu-indicator"><span
											class="submenu-indicator-chevron"></span></span>
								</a>
								<ul class="nav-dropdown nav-submenu" style="right: auto;">
									<li><a href="{{path('protection')}}">
											<div>{{"header.projets.protection"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('participation')}}">
											<div>{{"header.projets.participation"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('sante')}}">
											<div>{{"header.projets.sante"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('observatoire')}}">
											<div>{{"header.projets.veille_suivi"|trans}}</div>
										</a>
									</li>
									{# <li><a href="{{path('cnde')}}">
											<div>Congrès National des droits de l'enfant</div>
										</a></li> #}
									<li><a href="{{path('campagne')}}">
											<div>{{"header.projets.campagneVillesAfricaines"|trans}}</div>
										</a>
									</li>
								</ul>
							</li>
							<li class=""><a href="{{path('index_actualite')}}" class="list-header">
									<div class="blue-nav selected-act">{{"header.actualites"|trans}}</div>
								</a>
							</li>
							<li class=""><a href="#" class="list-header">
									<div class="blue-nav selected-pubb">{{"header.publications.title"|trans}}</div>
								</a>
								<ul class="nav-dropdown nav-submenu" style="right: auto;">
									<li><a href="{{path('twc_onde_etudes')}}">
											<div>{{"header.publications.etudes_Rapports"|trans}}</div>
										</a>
									</li>
									<li><a href="{{path('twc_onde_photos_videos')}}">
											<div>{{"header.publications.photos_Videotheques"|trans}}</div>
										</a>
									</li>
								</ul>
							</li>
							<li class=""><a href="{{path('documentation')}}" class="list-header">
									<div class="blue-nav selected-pub">{{"header.espacePresse"|trans}}</div>
								</a>
							</li>
							{# <li class=""><a href="#" class="list-header">
									<div class="blue-nav selected-ep">Espace presse</div><span class="submenu-indicator"><span
											class="submenu-indicator-chevron"></span></span>
								</a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{{ path('documentation')}}">
											<div>Documentation</div>
										</a>
									</li>
								</ul>
							</li> #}
							<li class=""><a href="{{ path('twc_parlement_homepage')}}" class="list-header">
									<div class="blue-nav selected-con">{{"header.portailEnfant"|trans}}</div>
								</a>
							</li>
							{# <li class=""><a href="{{asset('assets/telechargements/appel_offre.pdf')}}" target="_blank" class="list-header">
									<div class="blue-nav portail-en">{{"header.appeldOffre"|trans}}</div>
								</a>
							</li> #}
							<li class=""><a href="{{ path('formulaire')}}" class="list-header">
									<div class="blue-nav selected-con">{{"header.contact"|trans}}</div>
								</a>
							</li>

							<li class="">
								<li class=""><a href="#" class="list-header">
										<div class="">
											{% if app.request.locale == "fr" %}
												<img src="{{asset('assets/images/drapeau-france.jpg')}}" class="drapeau "> Fr
											{% elseif app.request.locale == "en" %}
												<img src="{{asset('assets/images/drapeau-angleterre.jpg')}}" class="drapeau "> En
											{# {% elseif app.request.locale == "ar" %}
												<img src="{{asset('assets/images/drapeau-maroc.jpg')}}" class="drapeau "> Ar #}
											{% endif %}
										</div>
										<span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span>
									</a>
									<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
										<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
												<div><img src="{{asset('assets/images/drapeau-france.jpg')}}" class="drapeau"> Fr</div>
											</a>
										</li>
										{# <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ar'})) }}">
												<div><img src="{{asset('assets/images/drapeau-maroc.jpg')}}" class="drapeau">Ar</div>
											</a>
										</li> #}
										<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
												<div><img src="{{asset('assets/images/drapeau-angleterre.jpg')}}" class="drapeau">En</div>
											</a>
										</li>
									</ul>
								</li>
							<li class="">
								<form id="content2">
								  	<input type="text" name="input2" class="in2 input2" id="search-input2">
								  	<button type="reset" class="search2" id="search-btn2"></button>
								</form>
							</li>

						</ul>
					</div>
				</div>
				<div class="kids-zone-btn">
					{# <a href="donate-now.html" class="btn donateNow">
						<img class="kids-logo-header" src="{{asset('assets/images/kids-zone.png')}}" alt="">
					</a> #}

				</div>
				<div class="nav-overlay-panel"></div>
			</nav>
		</div>
</header>
<script src="{{asset('front/js/jquery-3.2.1.min.js')}}"></script>
<script>
//     $(document).ready(function() {
//         $("[href]").each(function() {
//             if (this.href == window.location.href) {
//                 $(this).addClass("active");
//             }
//         });
// 	});
// updated 2019
	const input = document.getElementById("search-input");
	const searchBtn = document.getElementById("search-btn");

	const expand = () => {
	  searchBtn.classList.toggle("close1");
	  input.classList.toggle("square");
	  input.focus();
	};

	searchBtn.addEventListener("click", expand);

	const input2 = document.getElementById("search-input2");
	const searchBtn2 = document.getElementById("search-btn2");

	const expand2 = () => {
	  searchBtn2.classList.toggle("close2");
	  input2.classList.toggle("square2");
	  input2.focus();
	};

	searchBtn2.addEventListener("click", expand2);
</script>

