{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Style %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('assets/index/bootstrap.css')}}">
	{# <link rel="stylesheet" href="{{asset('assets/index/style.css')}}"> #}
	<link rel="stylesheet" href="{{asset('assets/index/carouselIndex.css')}}">
	<link rel="stylesheet" href="{{asset('assets/index/magnific-popup.css')}}">
	<link rel="stylesheet" href="{{asset('assets/index/nonprofit.css')}}">

	
	<style>
		.tit-caroussel{
			color: #fff !important;
		}
		.tit-caroussel:hover{
			color: #fff !important;
		}
		.title-carousel{
			padding: 35px 80px 0px 80px; font-size: 2.28571em !important;    margin-top: -30px;
		}
		.entry-title {
		    display: -webkit-box;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    color: #1e1e1e !important;
		}
		.owl-next:focus{
			outline: none !important
		}
		.owl-prev:focus{
			outline: none !important
		}
		.owl-prev,
		.owl-next {
		  position: absolute;
		  top: 48%;
		  transform: translateY(-50%);
		}

		.owl-prev {
		  left: 2rem;
		}

		.owl-next {
		  right: 2rem;
		}
		.owl-nav > button {
			background: transparent !important;
		}
		
		a:hover{
			text-decoration: none !important;
		}
		.link-sec > h2{
			color: #1e1e1e;
    		font-weight: 600;
		}
		.bord-sect{
			border-left: solid 2px #555;
		    height: 240px;
		    border-right: solid 2px #555;
		}
		.xs-welcome-content{
			min-height: 100vh !important;
		}
	    .xs-event-image{
	    	cursor: pointer !important;
	    }
	    .box-color{
	    	height: 235px !important;
	    }
	    .rel-slid{
	    	position: relative !important;
	    }
	    .fixed-con{
	    	position: absolute !important;
		    top: 50% !important;
		    left: 50% !important;
		    transform: translate(-50%, -50%) !important;
		    z-index: 99 !important;
	    }
	    .bottom-con{
	    	background-color: #fff !important;
	    	margin-left: auto;
	    	margin-right: auto;
	    	-webkit-box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.2);
    	    box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.2);
	    }
	    .section-home-bo{
	    	margin-top: calc(0% - 13rem) !important;
		    z-index: 99 !important;
		    position: relative !important;
		    margin-bottom: 60px !important;
	    }
	    .descr-block{
    	    border-left: solid 1px #DADADA !important;
		    height: 80px !important;
		    text-align: left !important;
		    padding-left: 20px !important;
	    }
	    .sec-descr{
    	    text-align: left !important;
		    /* padding-left: 2px !important; */
		    font-size: 14px;
		    font-style: italic;
		    font-weight: 600;
	    }
	    #search-btn:focus{
	    	outline: 0 !important;
	    }

		.share-buttons {
		  	position: absolute;
		    width: auto;
		    height: 212px;
		    padding-left: 175px;
		    right: 0;
		    top: 25vh;
		    z-index: 99;
		    margin-right: 20px;
		}
		.share-buttons .share-button {
		  	margin-top: 15px;
		}
		.share-buttons .share-button:first-child {
		  	margin-top: 0;
		}
		.share-buttons .share-button:after {
			clear: both;
			display: table;
		}

		.share-button {
		  display: block;
		  position: relative;
		  height: 50px;
		}
		.share-button:hover {
		  cursor: pointer;
		}
		.share-button:hover .share-button-primary {
		  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
		}
		.share-button:hover .share-button-secondary-content {
		  -webkit-transform: translate3d(0, 0, 0);
		          transform: translate3d(0, 0, 0);
		}

		.share-button-primary {
		  position: absolute;
		  background: #fff;
		  width: 50px;
		  height: 50px;
		  border-radius: 25px;
		  right: 0;
		  top: 50%;
		  margin-top: -25px;
		  text-align: center;
		}

		.share-button-icon {
		  display: block;
		  color: #fff;
		  position: absolute;
		  width: 50px;
		  line-height: 50px;
		  font-size: 25px;
		  margin-top: 1px;
		}

		.share-button-secondary {
		  overflow: hidden;
		  margin-left: 25px;
		  height: 50px;
		}

		.share-button-secondary-content {
		  font-family: sans-serif;
		  font-size: 1em;
		  display: block;
		  height: 50px;
		  text-align: left;
		  padding-left: 20px;
		  padding-right: 50px;
		  line-height: 50px;
		  color: #fff;
		  font-weight: 600;
		  border-radius: 25px 25px 25px 25px;
		  -webkit-transform: translate3d(100%, 0, 0);
		          transform: translate3d(100%, 0, 0);
		  transition: -webkit-transform 175ms ease;
		  transition: transform 175ms ease;
		  transition: transform 175ms ease, -webkit-transform 175ms ease;
		}
		.first{
		    background: #50C998 !important;
		}
		.second{
			background: #F1525F !important;
		}
		.third{
			background: #f7c453 !important;
		}

		.forth{
			background: #be4bdb !important;
		}
		.first-share{
			background: #50C998 !important;
		}
		.second-share{
			background: #F1525F !important;
		}
		.third-share{
			background: #f7c453 !important;
		}
		.forth-share{
			background: #be4bdb !important;
		}
		.owl-dots{
			display: none;
		}
		.entry-header{
			min-height: 160px;
		}
		{% if app.request.locale != "ar" %}
			@media screen and (min-width: 1023px) {
				.res-first{
					padding-left: 0;
				}
			}
		{% endif %}
		@media (max-width: 1023px) {
		  .row.reorder-xs {
		    -webkit-transform: rotate(180deg);
		    -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		    -o-transform: rotate(180deg);
		    transform: rotate(180deg);
		    direction: rtl;
		  }
		 
		  .row.reorder-xs > [class*="col-"] {
		    -webkit-transform: rotate(-180deg);
		    -moz-transform: rotate(-180deg);
		    -ms-transform: rotate(-180deg);
		    -o-transform: rotate(-180deg);
		    transform: rotate(-180deg);
		    direction: ltr;
		  }
		}
		@media only screen and (max-width: 768px){
			.share-button {
			  height: 40px;
			  top: 22%;
			}

			.share-button-primary {
			  width: 40px;
			  height: 40px;
			}

			.share-button-icon {
			  width: 40px;
			  line-height: 40px;
			}

			.share-button-secondary {
			  height: 40px;
			}

			.share-button-secondary-content {
			  height: 40px;
			}
		}

		@media only screen and (max-width: 992px){
			.rel-slid, #first-ca{
		    	height: 80vh;
		    }
		    .owl-stage-outer{
		    	height: inherit;
		    }
		    .section-home-bo {
			    margin-top: calc(0% - 6rem) !important;
			}
			.descr-block{
				border: none !important;
			    padding: 0 !important;
			    height: auto !important;
			}
			.title-carousel {
			    padding: 0px 20px 0px 20px;
			    margin-top: -60px;
			}
			.blockq-img{
				margin: 4rem 0 4rem;
			}
			
		}
	{% if app.request.locale == "ar" %}
		blockquote:before{
			left: auto !important;
			right: 0px !important;
		}
		.section-home-bo{
			direction: rtl;
		}
		.descr-block{
			border-right: solid 1px #DADADA !important;
			border-left: none !important;
		}
		.descr-block{
			text-align: right !important;
			padding-right: 20px !important;
		    height: 50px !important;
		}
		.sec-descr{
			text-align: right !important;
			padding-right: 20px !important;
		}
		.second-quote{
			margin-left: 40px !important;
		}
		.entry-header{
			min-height: auto;
		}
		.xs-content-section-padding{
			direction: rtl;
		}
		@media (max-width: 480px) {
			.descr-block{
				height: auto !important;
			}
			.second-quote{
				margin-left: 20px !important;
			}
		}
	{% endif %}
	</style>
	{# <link rel="stylesheet" href="{{asset('front/css/lightslider.css')}}"> #}
	<link rel="stylesheet" href="{{asset('front/css/featureBoxCss.css')}}">
	
{% endblock %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block body %}
	</div>
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 

	
			<section class="xs-welcome-slider rel-slid">
				
				<div class="share-buttons">
					
					<div class="share-button">
					  	<a href="http://2511.ma/" title="" target="_blank">
						    <div class="share-button-secondary">
						      <div class="share-button-secondary-content first-share">
						        {{"homepage.shareButtons.numeroVert2511"|trans}}
						      </div>
						    </div>
						    <div class="share-button-primary first">
						      <i class="share-button-icon fa fa-phone"></i>
						    </div>
					    </a>
					</div>
					
					<div class="share-button">
				 		<a href="http://rabatprotection.ma/" target="_blank">
					    <div class="share-button-secondary ">
					      <div class="share-button-secondary-content forth-share">
					        {{"homepage.shareButtons.enfantsSituationRue"|trans}}
					      </div>
					    </div>
					    <div class="share-button-primary forth">
					      <i class="share-button-icon fa fa-street-view"></i>
					    </div>
					    </a>
				 	</div>

				  	<div class="share-button">
				  		<a href="{{ app.request.locale != "en" ? 'http://www.youtube.com/watch?v=yBYHW-xa9oo': 'http://www.youtube.com/watch?v=3qTLTuq7vJo'}}" data-lightbox="iframe" data-lightbox-type="video" class="" style="">
					    <div class="share-button-secondary ">
					      <div class="share-button-secondary-content second-share">
					        {{"homepage.shareButtons.parlementdeEnfant"|trans}}
					      </div>
					    </div>
					    <div class="share-button-primary second">
					      <i class="share-button-icon fa fa-child"></i>
					    </div>
					    </a>
				 	</div>

				 	<div class="share-button" onclick="window.location.href = '{{path('twc_enfants_homepage')}}';">
					    <div class="share-button-secondary ">
					      <div class="share-button-secondary-content third">
					        {{"homepage.shareButtons.kidsZone"|trans}}
					      </div>
					    </div>
					    <div class="share-button-primary third">
					      <i class="share-button-icon fa fa-smile-o"></i>
					    </div>
				 	</div>
				  
				</div>

				<div class="owl-carousel" id="first-ca">
					{% for article in articles %}
						<div class="xs-welcome-content" style="background-image: url({{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }});">
							<div class="xs-welcome-wraper color-white" style="width:75%;margin:auto">
								<a href="{{ path("index_details", {id: article.id}) }}" class="tit-caroussel">
									{% if app.request.locale == "fr" %}
										<p class="title-carousel">{{article.titre}}</p>
									{% endif %}
									{% if app.request.locale == "en" %}
										<p class="title-carousel">{{article.titreEn}}</p>
									{% endif %}
								</a>
							</div>
							<div class="xs-black-overlay"></div>
						</div>
					{% endfor %}
				</div>
			</section>
			<div class="section section-home-bo">
				<div class="col-md-8 col-sm-8 bottom-con">
					<div class="row reorder-xs">
						<div class="col-lg-8 col-md-8 col-sm-12 col-sm-push-12">
							<div class="gallery">
								<div class="gallery-item">
									{# <img src="{{asset('assets/images/lallameryem1-1.jpg')}}" alt="" class="image--cover" /></center> #}
									<blockquote class="blockq-img">
										<p class="descr-block"><bdi>{{"homepage.extraitDiscoursLalaMaryam.body"|trans}}</bdi></p>
										<p class="sec-descr">"{{"homepage.extraitDiscoursLalaMaryam.signature"|trans}}"</p>
									</blockquote>
									<blockquote class="blockq-img second-quote">
										
									</blockquote>	
									{# <p class="des-round-photo text-right" style="margin-right: 36px;">S.A.R la Princesse Lalla Meryem</p>
									<p class="des-round-photo sec-par-sar">Mars1999</p> #}

														
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12 res-first col-sm-pull-12">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div style="background-image: url({{asset('assets/images/lallameryem1-1.png')}});height: 248px;background-size: cover;background-repeat: no-repeat;background-position: center;margin-top: 15px;margin-bottom: 15px;">
										
									</div>
								</div>
							</div>
						</div>
						
					</div>

				</div>
			</div>
			

			<!-- End journal section -->
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 

			<section class="xs-welcome-slider rel-slid">
				{# <div class="share-buttons">
					<div class="share-button">
					    <div class="share-button-secondary">
					      <div class="share-button-secondary-content first-share">
					        2511 الرقم أخضر 
					      </div>
					    </div>
					    <div class="share-button-primary first">
					      <i class="share-button-icon fa fa-phone"></i>
					    </div>
					</div>



				  	<div class="share-button">
				  		<a href="https://player.vimeo.com/video/377751403?byline=0&portrait=0"  data-lightbox="iframe" class="" style="">
						    <div class="share-button-secondary ">
						      <div class="share-button-secondary-content second-share">
						        برلمان الطفل
						      </div>
						    </div>
						    <div class="share-button-primary second">
						      <i class="share-button-icon fa fa-child"></i>
						    </div>
						</a>
				 	</div>
				 	
				 	<div class="share-button" onclick="window.location.href = '{{path('twc_parlement_homepage')}}';">
					    <div class="share-button-secondary ">
					      <div class="share-button-secondary-content third">
					        Kids Zone
					      </div>
					    </div>
					    <div class="share-button-primary third">
					      <i class="share-button-icon fa fa-smile-o"></i>
					    </div>
				 	</div>
				  
				</div> #}

				<div class="share-buttons">
					
					<div class="share-button">
					  	<a href="http://2511.ma/" title="" target="_blank">
						    <div class="share-button-secondary">
						      <div class="share-button-secondary-content first-share">
						        {{"homepage.shareButtons.numeroVert2511"|trans}}
						      </div>
						    </div>
						    <div class="share-button-primary first">
						      <i class="share-button-icon fa fa-phone"></i>
						    </div>
					    </a>
					</div>
					
					<div class="share-button">
				 		<a href="http://rabatprotection.ma/" title="" target="_blank">
					    <div class="share-button-secondary ">
					      <div class="share-button-secondary-content forth-share">
					        {{"homepage.shareButtons.enfantsSituationRue"|trans}}
					      </div>
					    </div>
					    <div class="share-button-primary forth">
					      <i class="share-button-icon fa fa-street-view"></i>
					    </div>
					    </a>
				 	</div>

				  	<div class="share-button">
				  		<a href="{{ app.request.locale != "en" ? 'http://www.youtube.com/watch?v=yBYHW-xa9oo': 'http://www.youtube.com/watch?v=3qTLTuq7vJo'}}" data-lightbox="iframe" data-lightbox-type="video" class="" style="">
					    <div class="share-button-secondary ">
					      <div class="share-button-secondary-content second-share">
					        {{"homepage.shareButtons.parlementdeEnfant"|trans}}
					      </div>
					    </div>
					    <div class="share-button-primary second">
					      <i class="share-button-icon fa fa-child"></i>
					    </div>
					    </a>
				 	</div>

				 	<div class="share-button" onclick="window.location.href = '{{path('twc_enfants_homepage')}}';">
					    <div class="share-button-secondary ">
					      <div class="share-button-secondary-content third">
					        {{"homepage.shareButtons.kidsZone"|trans}}
					      </div>
					    </div>
					    <div class="share-button-primary third">
					      <i class="share-button-icon fa fa-smile-o"></i>
					    </div>
				 	</div>
				  
				</div>
				<div class="owl-carousel" id="first-ca">
					{% for article in articles %}
						<div class="xs-welcome-content" style="background-image: url({{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }});">
							<div class="xs-welcome-wraper color-white" style="width:75%;margin:auto">
								<a href="{{ path("index_details", {id: article.id}) }}" class="tit-caroussel">
									{% if app.request.locale == "fr" %}
										<p class="title-carousel">{{article.titre}}</p>
									{% endif %}
									{% if app.request.locale == "en" %}
										<p class="title-carousel">{{article.titreEn}}</p>
									{% endif %}
									{% if app.request.locale == "ar" %}
										<p class="title-carousel">{{article.titreAr}}</p>
									{% endif %}
								</a>
							</div>
							<div class="xs-black-overlay"></div>
						</div>
					{% endfor %}
				</div>
			</section>
			<div class="section section-home-bo">
				<div class="col-md-8 col-sm-8 bottom-con">
					<div class="row reorder-xs">
						<div class="col-lg-8 col-md-8 col-sm-12 col-sm-push-12">
							<div class="gallery">
								<div class="gallery-item">
									{# <img src="{{asset('assets/images/lallameryem1-1.jpg')}}" alt="" class="image--cover" /></center> #}
									<blockquote class="blockq-img">
										<p class="descr-block">
											<bdi>
												{{"homepage.extraitDiscoursLalaMaryam.body"|trans}}
											</bdi>
										</p>
										<p class="sec-descr">"{{"homepage.extraitDiscoursLalaMaryam.signature"|trans}}"</p>
									</blockquote>
									<blockquote class="blockq-img second-quote">
										
									</blockquote>	
									{# <p class="des-round-photo text-right" style="margin-right: 36px;">S.A.R la Princesse Lalla Meryem</p>
									<p class="des-round-photo sec-par-sar">Mars1999</p> #}

														
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12 res-first col-sm-pull-12">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div style="background-image: url({{asset('assets/images/lallameryem1-1.png')}});height: 248px;background-size: cover;background-repeat: no-repeat;background-position: center;margin-top: 15px;margin-bottom: 15px;">
										
									</div>
								</div>
							</div>
						</div>
						
					</div>

				</div>
			</div>
	{% endif %}

	<div class="container-fluid my-5 clearfix">
				<div class="d-flex flex-column align-items-center justify-content-center center counter-section position-relative py-5" style="background: url({{asset('assets/images/world-map.png')}}) no-repeat center center/ contain">

					<div class="row align-items-stretch m-0 w-100 clearfix">

						<div class="col-lg-4 col-sm-4 center mt-5">
							<a href="http://2511.ma/" title="" class="link-sec" target="_blank">
								<img src="{{asset('assets/images/phone.png')}}" alt="Counter Icon" width="90" class="mb-4">
							
								<h2 class="xs-title">2511</h2>
							</a>
							
						</div>
						<div class="col-lg-4 col-sm-4 center mt-5 bord-sect">
							<a href="{{path('cnde')}}" title="" class="link-sec" target="_blank">
								<img src="{{asset('assets/images/ci2.png')}}" alt="Counter Icon" width="160" class="mb-4">
							
								<h2 class="xs-title">{{"homepage.congres"|trans}}</h2>
							</a>
							
						</div>
						<div class="col-lg-4 col-sm-4 center mt-5">
							<a href="{{ app.request.locale != "en" ? 'http://www.youtube.com/watch?v=yBYHW-xa9oo': 'http://www.youtube.com/watch?v=3qTLTuq7vJo'}}"  data-lightbox="iframe" class="link-sec" style="">
								<img src="{{asset('assets/images/ci1.png')}}" alt="Counter Icon" width="160" class="mb-4">
							
								<h2 class="xs-title">{{"homepage.parlementEnfant"|trans}}</h2>
							</a>
						</div>
					</div>
				</div>
	</div>
	<section class="xs-content-section-padding">
		<div class="container">
			<div class="row xs-mb-50">
				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/5.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							{% if app.request.locale != "ar" %}
								<a href="https://www.youtube.com/watch?v=kSRZd3zsmlc" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>
							{% endif %}
							{% if app.request.locale == "ar" %}
								<a href="https://www.youtube.com/watch?v=8L5SnWX2TrU" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>
							{% endif %}

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.enfantsTousEgaux"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/2.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							{% if app.request.locale != "ar" %}
								<a href="https://www.youtube.com/watch?v=uaWydqooLt0" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>
							{% endif %}
							{% if app.request.locale == "ar" %}
								<a href="https://www.youtube.com/watch?v=os3r6Ev5a_I" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>
							{% endif %}

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.ONDEenBref"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/4.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							<a href="https://www.youtube.com/watch?v=Bh23eZMxyd4" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.ceremonieOfficielleCNDE"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/3.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							<a href="https://www.youtube.com/watch?v=31s4wCM5eJI" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.la16èmeEditionCNDE"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/1.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							<a href="https://www.youtube.com/watch?v=xp_55e9Kt2E" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.enfantsEtoilesBrillantes"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/7.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							<a href="https://www.youtube.com/watch?v=QUvwE4vnnMw" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.lacherBallonsCIDE"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/6.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							<a href="https://www.youtube.com/watch?v=Xllc2Z-VbTg" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.lesEnfantsParlementairesAction"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				
				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/8.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							<a href="https://www.youtube.com/watch?v=DT8cgckYvMg" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.jeNeSuisPasInvisible"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>

				<div class="col-lg-3 col-md-6 mb-3">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/9.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
						<div class="oc-desc d-flex flex-column justify-content-center">
							<a href="https://player.vimeo.com/video/401633726?byline=0&portrait=0" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>

						</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							
							<h4 class="entry-title">
								{{"homepage.videosBasPage.regardezMoi"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>

			</div><!-- .row end -->
		</div>
	</section>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/embed-js/5.0.3/embed.js"></script>
	<script src="{{asset('assets/index/jquery.js')}}"></script>
	<script src="{{asset('assets/index/plugins.js')}}"></script>
	<script src="{{asset('assets/index/jquery.calendario.js')}}"></script>
	<script src="{{asset('assets/index/events.js')}}"></script>
	<script src="{{asset('assets/index/functions.js')}}"></script>
		<script type="text/javascript">
 			owl = $("#first-ca");
			owl.owlCarousel({
			    // autoplaySpeed:1000,
			    // items:1,
			    // autoplay:true
			    items:1,
			    loop:true,
			    autoplay:true,
			    autoplayTimeout:3000,
			    autoplayHoverPause:true,
			    nav    : true,
	     		navText : ["<img src='{{asset('front/images/fa-chevron-left.png')}}' alt='' class='chevron-carousel'>","<img src='{{asset('front/images/fa-chevron-right.png')}}' alt='' class='chevron-carousel'>"]
			});
		</script>
	<script type="text/javascript">
	 	$(".blue-header").css('display','none');
	</script>
	<script>
        $('.articles-details').on('click',function(e){
            var id = $(this).attr("data-id");
            path = '{{ path('index_details', {id: '1' }) }}';
            path = path.replace('1',id);
            $.ajax({
                type: 'POST',
                url: path,
                data : {'id' : id},
                success: function(data) {
                   	var path = '{{ path("index_details", {id: 1}) }}';

                   	window.location.href = path.replace("1", id);

                },
                error: function(data) {
                },
            });
        });      
    </script>
    <script>
        $('.event-details').on('click',function(e){
            var id = $(this).attr("data-id");
            path = '{{ path('index_detailsPress', {id: '1' }) }}';
            path = path.replace('1',id);
            $.ajax({
                type: 'POST',
                url: path,
                data : {'id' : id},
                success: function(data) {
                   	var path = '{{ path("index_detailsPress", {id: 1}) }}';

                   	window.location.href = path.replace("1", id);

                },
                error: function(data) {
                },
            });
        });      
    </script>
{% endblock %}