{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Style %}
	{{parent()}}
	{# <link rel="stylesheet" href="{{asset('front/css/lightslider.css')}}"> #}
	<link rel="stylesheet" href="{{asset('front/css/featureBoxCss.css')}}">
	<link rel="stylesheet" href="{{asset('front/css/mystyle_mystyle_1.css')}}">
	<style type="text/css" media="screen">
		.header-transparent .nav-menu li a .submenu-indicator-chevron{
	    	border-color: transparent #041d57 #041d57 transparent;
	    }
	</style>
{% endblock %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block body %}
	{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	<!-- welcome section -->
	{# <section class="xs-welcome-slider">
		<div class="xs-banner-slider owl-carousel">
			<div class="xs-welcome-content" style="background-image: url({{asset('assets/images/slider/slider_1.jpg')}});">
				<div class="container">
					<div class="xs-welcome-wraper color-white">
						<h2>المرصد الوطني لحقوق الطفل</h2>
						<p>يعهد للمرصد الوطني لحقوق الطفل مهمة تتبع تنفيذ اتفاقية الأمم المتحدة الخاصة بحقوق الطفل، لتعزيز حماية الطفل بشكل دائم، في كافة المجالات المتعلقة بالصحة، بالتعليم، بالتشريع، بالترفيه وبالثقافة، وذلك في أبعادها المادية والمعنوية والروحية</p>
						<div class="xs-btn-wraper">
							<!-- <a href="#" class="btn btn-outline-primary">
								join us now
							</a> -->
							<a href="#" class="btn btn-call">
								<img src="{{asset('assets/images/numero-vert.png')}}" alt="">
							</a>
						</div><!-- .xs-btn-wraper END -->
					</div><!-- .xs-welcome-wraper END -->
				</div><!-- .container end -->
				<div class="xs-black-overlay"></div>
			</div><!-- .xs-welcome-content END -->
			<div class="xs-welcome-content" style="background-image: url({{asset('assets/images/slider/slider_2.jpg')}});">
				<div class="container">
					<div class="xs-welcome-wraper color-white">
						<h2>المرصد الوطني لحقوق الطفل</h2>
						<p>يعهد للمرصد الوطني لحقوق الطفل مهمة تتبع تنفيذ اتفاقية الأمم المتحدة الخاصة بحقوق الطفل، لتعزيز حماية الطفل بشكل دائم، في كافة المجالات المتعلقة بالصحة، بالتعليم، بالتشريع، بالترفيه وبالثقافة، وذلك في أبعادها المادية والمعنوية والروحية</p>
						<div class="xs-btn-wraper">
							<!-- <a href="#" class="btn btn-outline-primary">
								join us now
							</a> -->
							<a href="#" class="btn btn-call">
								<img src="{{asset('assets/images/numero-vert.png')}}" alt="">
							</a>
						</div><!-- .xs-btn-wraper END -->
					</div><!-- .xs-welcome-wraper END -->
				</div><!-- .container end -->
				<div class="xs-black-overlay"></div>
			</div><!-- .xs-welcome-content END -->
			<div class="xs-welcome-content" style="background-image: url({{asset('assets/images/slider/slider_3.jpg')}});">
				<div class="container">
					<div class="xs-welcome-wraper color-white">
						<h2>المرصد الوطني لحقوق الطفل</h2>
						<p>يعهد للمرصد الوطني لحقوق الطفل مهمة تتبع تنفيذ اتفاقية الأمم المتحدة الخاصة بحقوق الطفل، لتعزيز حماية الطفل بشكل دائم، في كافة المجالات المتعلقة بالصحة، بالتعليم، بالتشريع، بالترفيه وبالثقافة، وذلك في أبعادها المادية والمعنوية والروحية</p>
						<div class="xs-btn-wraper">
							<!-- <a href="#" class="btn btn-outline-primary">
								join us now
							</a> -->
							<a href="#" class="btn btn-call">
								<img src="{{asset('assets/images/numero-vert.png')}}" alt="">
							</a>
						</div><!-- .xs-btn-wraper END -->
					</div><!-- .xs-welcome-wraper END -->
				</div><!-- .container end -->
				<div class="xs-black-overlay"></div>
			</div><!-- .xs-welcome-content END -->
		</div>
	</section> #}
	<div class="section first-section-home">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 res-first">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<a href="#" title="">
							<div class="gallery">
						        <div class="gallery-item">
							        <img class="gallery-image" src="{{asset('assets/images/lallameryem1.jpg')}}" style="height: 360px !important;">
							        <div class="td-meta-info-container">
										<div class="td-meta-align td-meta-align-ar">
										<div class="td-big-grid-meta">
										<a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-health-fitness/" class="td-post-category">أخبار</a> 
										<h3 class="entry-title td-module-title first-item"><a class="description-bottom" href="https://demo.tagdiv.com/newspaper/wordpress-news-magazine-charts-the-most-fashionable-new-york-couples-in-2016/" rel="bookmark" title="WordPress News Magazine Charts the Most Fashionable New York Women in 2018">الأميرة لالة مريم تطلق حملة "للمدن الإفريقية بدون أطفال الشوارع" </a></h3> </div>
										<div class="td-module-meta-info"></div>
										</div>
									</div>
						        </div>
					        </div>
					        </a>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-6 col-sm-6 pr-1 res-second">
							<a href="#" title="">
							<div class="gallery">
						        <div class="gallery-item">
							        <img class="gallery-image" src="{{asset('assets/images/bb-dort.jpg')}}">
							        <div class="td-meta-info-container">
										<div class="td-meta-align td-meta-align-ar">
										<div class="td-big-grid-meta">
										<a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-health-fitness/" class="td-post-category">طفل</a> <h3 class="entry-title td-module-title"><a class="description-bottom" href="https://demo.tagdiv.com/newspaper/wordpress-news-magazine-charts-the-most-fashionable-new-york-couples-in-2016/" rel="bookmark" title="WordPress News Magazine Charts the Most Fashionable New York Women in 2018">طفل ثنائي اللغة: من 7 أشهر يميزون لغتين</a></h3> </div>
										<div class="td-module-meta-info"></div>
										</div>
									</div>
						        </div>
					        </div>
					        </a>
						</div>
						<div class="col-md-6 col-sm-6 pl-1 res-thirth">
							<a href="#" title="">
							<div class="gallery">
						        <div class="gallery-item">
							        <img class="gallery-image" src="{{asset('assets/images/Affiche_Forum.jpg')}}">
							        <div class="td-meta-info-container">
										<div class="td-meta-align td-meta-align-ar">
										<div class="td-big-grid-meta">
										<a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-health-fitness/" class="td-post-category">منتدى</a> <h3 class="entry-title td-module-title"><a class="description-bottom" href="https://demo.tagdiv.com/newspaper/wordpress-news-magazine-charts-the-most-fashionable-new-york-couples-in-2016/" rel="bookmark" title="WordPress News Magazine Charts the Most Fashionable New York Women in 2018">ملتقى سفراء التسامح للطفولة </a></h3> </div>
										<div class="td-module-meta-info"></div>
										</div>
									</div>
						        </div>
					        </div>
					        </a>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-sm-5">
					<div class="gallery">
						<div class="gallery-item">
							<img src="{{asset('assets/images/lalla_meryem.png')}}" alt="" class="image--cover" />
							<h3 class="title-round-img">الأميرة لالة مريم</h3>
							<blockquote class="blockq-img">
								<p class="blockquote-p">لا يهم العالم الذي سنتركه لأولادنا، بقدر ما يهم الأولاد الذين سنتركهم لهذا العالم</p>
								
							</blockquote>
							<p class="des-round-photo">" مقتطف من خطاب صاحبة السمو الملكي الأميرة الجليلة لالة مريم مارس 1999 "</p>

							<blockquote class="blockq-img second-quote">
								
							</blockquote>						
						</div>
					</div>
				</div>
				
				
			</div>

		</div>
	</div>
	<!-- End welcome section -->

	<main class="xs-main forth-table">
		<!-- Action Section -->
		<section class="xs-what-we-do-box description-what-we-do">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="xs-service-promo box-color bg-light-red">
							<span><i class="fa fa-tint"></i></span>
							<h5>الحماية</h5>
							<p>هو خلاف غريمه بالتوقيع بحق, قد هناك واشتدّت حين, عجّل وإعلان تم شيء. مكن الشرق، استدعى جديداً في, تلك أم أمدها </p>
						</div><!-- .xs-service-promo END -->
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="xs-service-promo box-color bg-green">
							<span><i class="fa fa-shopping-bag"></i></span>
							<h5>المرصد والصحوة</h5>
							<p>المشتّتون, ثم فرنسا الثانية الأمريكي لكل. أن احداث إختار فرنسية بعض, وباءت قُدُماً به، أي. بالفشل الجنوبي و جهة</p>
						</div><!-- .xs-service-promo END -->
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="xs-service-promo box-color bg-blue">
							<span><i class="fa fa-heartbeat"></i></span>
							<h5>الصحة</h5>
							<p> أمّا بقسوة اقتصادية قد لان, قبل ثم الذود فكانت. يونيو استدعى بعد كل, بل يكن أعمال السفن المبرمة.</p>
						</div><!-- .xs-service-promo END -->
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="xs-service-promo box-color bg-purple">
							<span><i class="fa fa-book"></i></span>
							<h5>المشاركة</h5>
							<p>مع تحت بينما بالإنزال, بشكل المزيفة والمعدات ٣٠ دنو. عرض بـ وجزر سكان الصين, ما ليبين الشهير يتم.</p>
						</div><!-- .xs-service-promo END -->
					</div>
				</div><!-- .row end -->
			</div><!-- .container end -->
		</section> <!-- End box promo section -->

	</main>


	<!-- events section -->
	<section class="xs-section-padding padding-section" style="margin-top:100px;">
		<div class="container">
			<div class="xs-heading row xs-mb-60">
				<div class="col-md-9 col-xl-9">
					<h2 class="xs-title">الأحداث</h2>
					<span class="xs-separetor dashed"></span>
					<p>أنجز المرصد الوطني لحقوق الطفل العديد من الدراسات لتحديد بعض المشاكل المرتبطة بحقوق الطفل وأسبابها، نذكر من أهم هذه الدراسات :</p>
				</div><!-- .xs-heading-title END -->
			</div>
			<div class="row">
				<div class="col-lg-6 row xs-single-event">
					<div class="col-md-4">
						<div class="xs-event-image">
							<img src="{{asset('assets/images/event/event_1.jpg')}}" alt="">
							<div class="xs-entry-date">
								<span class="entry-date-day">05</span>
								<span class="entry-date-month">دجنبر</span>
							</div>
							<div class="xs-black-overlay"></div>
						</div><!-- .xs-event-image END -->
					</div>
					<div class="col-md-7">
						<div class="xs-event-content">
							<a href="#">تمثلات الأطفال حول مفهوم المخاطر</a>
							<p>هدفت هذه الدراسة إلى معرفة أنواع مختلفة من المخاطر المتصورة من قبل الأطفال و تحديد أهميتها</p>
							<p class="date-event">05/12/2019</p>
							<!-- <div class="xs-countdown-timer" data-countdown="2020/01/24"></div> -->

						</div><!-- .xs-event-content END -->
					</div>
				</div><!-- .xs-single-event END -->
				<div class="col-lg-6 row xs-single-event">
					<div class="col-md-4">
						<div class="xs-event-image">
							<img src="{{asset('assets/images/event/event_2.jpg')}}" alt="">
							<div class="xs-entry-date">
								<span class="entry-date-day">15</span>
								<span class="entry-date-month">غشت</span>
							</div>
							<div class="xs-black-overlay"></div>
						</div><!-- .xs-event-image END -->
					</div>
					<div class="col-md-7">
						<div class="xs-event-content">
							<a href="#">مسح وطني حول وضعية وانتظارات المراهقين</a>
							<p>نظم هذا المسح خلال سنة 2003 وهم عينة من الأطفال المسجلين بالمخيمات الصيفية</p>
							<p class="date-event">15/08/2019</p>
							<!-- <div class="xs-countdown-timer" data-countdown="2020/08/24"></div> -->

						</div><!-- .xs-event-content END -->
					</div>
				</div><!-- .xs-single-event END -->
				<div class="col-lg-6 row xs-single-event">
					<div class="col-md-4">
						<div class="xs-event-image">
							<img src="{{asset('assets/images/event/event_3.jpg')}}" alt="">
							<div class="xs-entry-date">
								<span class="entry-date-day">24</span>
								<span class="entry-date-month">يناير</span>
							</div>
							<div class="xs-black-overlay"></div>
						</div><!-- .xs-event-image END -->
					</div>
					<div class="col-md-7">
						<div class="xs-event-content">
							<a href="#">دراسة حول وضعية الفتاة في العالم القروي</a>
							<p>هذه الدراسة، التي أجريت بتعاون مع خبراء وطنيين ودوليين، هي عبارة عن بحث كمي تم خلاله الوقوف ...</p>
							<p class="date-event">24/01/2019</p>
							<!-- <div class="xs-countdown-timer" data-countdown="2019/05/24"></div> -->

						</div><!-- .xs-event-content END -->
					</div>
				</div><!-- .xs-single-event END -->
				<div class="col-lg-6 row xs-single-event">
					<div class="col-md-4">
						<div class="xs-event-image">
							<img src="{{asset('assets/images/event/event_4.jpg')}}">
							<div class="xs-entry-date">
								<span class="entry-date-day">23</span>
								<span class="entry-date-month">يونيو</span>
							</div>
							<div class="xs-black-overlay"></div>
						</div><!-- .xs-event-image END -->
					</div>
					<div class="col-md-7">
						<div class="xs-event-content">
							<a href="">ساهم في إعداد الخطة الإنمائية لما بعد 2015</a>
							<p>لتحديد مشروع الخطة الإنمائية لما بعد 2015، تقوم الأمم المتحدة حاليا بإنجاز استقصاء عالمي « My World »</p>
							<p class="date-event">23/06/2019</p>
							<!-- <div class="xs-countdown-timer" data-countdown="2020/02/24"></div> -->
						</div><!-- .xs-event-content END -->
					</div>
				</div><!-- .xs-single-event END -->
			</div><!-- .row end -->
		</div><!-- .container end -->
	</section><!-- End events section -->

	<!-- journal section -->
	<section class="xs-section-padding padding-section xs-section-padding-bottom ">
		<div class="container">
			<div class="xs-heading row xs-mb-60">
				<div class="col-md-9 col-xl-9">
					<h2 class="xs-title">مستجدات</h2>
					<span class="xs-separetor dashed"></span>
					<p>تحت ٣٠ رجوعهم أوراقهم, بالرغم وقدّموا كل حتى. بلا كل أواخر قتيل، الجديدة،. عن جورج أعمال وعُرفت بلا, أدوات شواطيء الصفحات و بحق, بعض قد دفّة لفشل العظمى. بل الى جديدة حاملات بمباركة. وفي ما اللا إعمار, ٣٠ وزارة ومطالبة بها.
					</p>
				</div><!-- .xs-heading-title END -->
			</div><!-- .row end -->
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_1.jpg')}}" class="img-article">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_1.jpg')}}" alt="">
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href="" rel="bookmark" class="entry-date">
										3 أبريل, 2017
									</a>
								</span>
							</div>

							<h4 class="entry-title">
								<a href="#">المؤتمر الخامس حول الأمراض التعفنية لدى الأطفال والتلقيح</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_2.jpg')}}" class="img-article">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_2.jpg')}}" alt="">
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href="" rel="bookmark" class="entry-date">
										3 سبتمبر, 2014
									</a>
								</span>
							</div>

							<h4 class="entry-title">
								<a href="#">المجلس العربي للطفولة يصدر دراسة عن سياسات حماية الطفولة في الدول العربية</a>
							</h4>
						</div><!-- .xs-entry-header END -->
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_3.jpg')}}" class="img-article">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_3.jpg')}}" alt="">
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href="" rel="bookmark" class="entry-date">
										16 أكتوبر, 2014
									</a>
								</span>
							</div>

							<h4 class="entry-title">
								<a href="#">المرصد الوطني لحقوق الطفل يشارك في أشغال الدورة 67 للجنة حقوق الطفل بالأمم المتحدة</a>
							</h4>
						</div><!-- .xs-entry-header END -->
					</div><!-- .xs-from-journal END -->
				</div>
			</div><!-- .row end -->
		</div><!-- .container end -->
	</section><!-- End journal section -->

	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/embed-js/5.0.3/embed.js"></script>
	 {# // <script src="{{asset('front/js/lightslider.js')}}"></script> #}
	<script type="text/javascript">
	 	$(".owl-carousel").owlCarousel({
	     items : 1,
	     loop  : true,
	     auto: true,
	     nav    : true,
	     smartSpeed :900,
	     navText : ["<img src='{{asset('front/images/fa-chevron-left.png')}}' alt='' class='chevron-carousel'>","<img src='{{asset('front/images/fa-chevron-right.png')}}' alt='' class='chevron-carousel'>"]
	   });
	</script>
{% endblock %}