{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style>
		.xs-unorder-list.check li{
			padding-left: 60px !important;
		}
		.left-descri{
				text-align: left;
			}
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
		.entry-date{
			color: #87ae81; font-size: 1.14286em; display: inline-block; line-height: 1;
		}
		.entry-date:hover{
			color: #87ae81; font-size: 1.14286em; display: inline-block; line-height: 1;
		}
	</style>
	{% if app.request.locale == "ar" %}

	{% endif %}
{% endblock %}
{% block body %}


	<main class="xs-main">				
	<!-- blog single post -->
	<div class="xs-content-section-padding xs-blog-single">
	<div class="container">
		{# <div class=" xs-inner-banner-content pb-3">
			<h2 class="color-title-b">Details</h2>
		</div> #}
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<!-- format standard -->

				<article class="post format-standard hentry xs-blog-post-details">
					<div class="post-media post-image">
					</div><!-- .post-media END -->

					<div class="post-body xs-border xs-padding-40">
						<div class="entry-header">
							<div class="post-meta row">
								<div class="col-md-2 xs-padding-0">
				 					<span class="post-meta-date"><b>{{media.creationDate|date("d")}}</b> {{media.creationDate|date("M")}}</span>
				 				</div>
							</div><!-- .row end -->
			 				<h2 class="entry-title xs-post-entry-title">
				 				<a href="#">{{media.title}}</a>
				 			</h2>
						</div><!-- header end -->
						
						<div class="entry-content">
							<p>{{media.contenu|raw}}</p>
{# 
							<p>Throw myself down teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary grow familiar with the countless indescribable forms of the insects and flies.  </p>


							<p>Throw myself down teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary grow familiar with the countless indescribable forms of the insects and flies.  </p> #}
							
						</div><!-- .xs-entry-content END -->

					</div><!-- post-body end -->
				</article><!-- .post  END -->
			</div>
		</div><!-- .row end -->
	</div><!-- .container end -->
</div>	<!-- End blog single post -->

</main>
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		});
	</script>
{% endblock %}