{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}{{"header.publications.etudes_Rapports"|trans}} {{parent()}}{% endblock %}
{% block Style %} 
	{{parent()}}
	<style>
		.xs-unorder-list.check li{
			padding-left: 60px !important;
		}
		.left-descri{
				text-align: left;
			}
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
		.entry-date{
			color: #87ae81; font-size: 1.14286em; display: inline-block; line-height: 1;
		}
		.entry-date:hover{
			color: #87ae81; font-size: 1.14286em; display: inline-block; line-height: 1;
		}
		.entry-title{
			/*display: -webkit-box;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;
		    overflow: hidden;
		    text-overflow: ellipsis;*/
		    color: #1e1e1e !important;
		}
		.breadcrumb{
			margin-top:15px;position: absolute;right: 15px;
		}
		@media only screen and (max-width: 992px){
			.breadcrumb{
				margin-top:15px;position: initial;
			}
		}
	</style>
	{% if app.request.locale == "ar" %}

	{% endif %}
{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
			<div class="container">

			</div>
		</section>
	</section>

	<main class="xs-main">
	<!-- blog section -->
	<section class="xs-content-section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 offset-lg-3 order-md-2 order-sm-2 order-lg-first">
					<div class=" xs-inner-banner-content pb-3">
						<h2 class="color-title-b">{{"header.publications.etudes_Rapports"|trans}}</h2>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 text-lg-right order-md-first order-sm-first order-lg-2 ">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{"header.publications.etudes_Rapports"|trans}}</li>
					</ol>
				</div>
			</div>
			<div class="row xs-mb-50" style="margin-top: 50px;">
				<div class="col-lg-6 col-md-6" >
					<div class="xs-box-shadow xs-single-journal xs-mb-30" style="min-height: 195px;">
						<div class="entry-header">
							
							<div class="entry-meta">
								<span class="date">
									{% if app.request.locale != "ar" %}
										<a href="{{ asset("assets/publications/30ans.pdf") }}" target="_blank" class="entry-date">
									{% endif %}
									{% if app.request.locale == "ar" %}
										<a href="{{ asset("assets/publications/30ans-va.pdf") }}" target="_blank" class="entry-date">
									{% endif %}
										<span class="">
											<i class="fa fa-download" aria-hidden="true" style="color: #5cb37c;    font-size: 25px;"></i>
										</span>
									</a>
								</span>
							</div>
							
							<h4 class="entry-title title-media">
								{{"etudes_Rapports.bilanMaroc"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-6 col-md-6" >
					<div class="xs-box-shadow xs-single-journal xs-mb-30" style="min-height: 195px;">
						<div class="entry-header">
							
							<div class="entry-meta">
								<span class="date">
									<a href="{{ asset("assets/publications/Contribution.pdf") }}" target="_blank" class="entry-date">
										<span class="">
											<i class="fa fa-download" aria-hidden="true" style="color: #5cb37c;    font-size: 25px;"></i>
										</span>
									</a>
								</span>
							</div>
							
							<h4 class="entry-title title-media">
								{{"etudes_Rapports.contributionONDE"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-6 col-md-6" >
					<div class="xs-box-shadow xs-single-journal xs-mb-30" style="min-height: 195px;">
						<div class="entry-header">
							
							<div class="entry-meta">
								<span class="date">
									<a href="{{ asset("assets/publications/Observations1.pdf") }}" target="_blank" class="entry-date">
										<span class="">
											<i class="fa fa-download" aria-hidden="true" style="color: #5cb37c;    font-size: 25px;"></i>
										</span>
									</a>
								</span>
							</div>
							
							<h4 class="entry-title title-media">
								{{"etudes_Rapports.observationsONDE"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-6 col-md-6" >
					<div class="xs-box-shadow xs-single-journal xs-mb-30" style="min-height: 195px;">
						<div class="entry-header">
							
							<div class="entry-meta">
								<span class="date">
									<a href="{{ asset("assets/publications/Observations2.pdf") }}" target="_blank" class="entry-date">
										<span class="">
											<i class="fa fa-download" aria-hidden="true" style="color: #5cb37c;    font-size: 25px;"></i>
										</span>
									</a>
								</span>
							</div>
							
							<h4 class="entry-title title-media">
								{{"etudes_Rapports.observationsRecommandation"|trans}}
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
			</div><!-- .row end -->	
		</div>
	</section>	
</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-pubb").addClass("active");
		    $(".header-transparent .nav-menu li .selected-pub .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
		});
	</script>
	<script>
        $('.articles-details').on('click',function(e){
            var id = $(this).attr("data-id");
            path = '{{ path('index_detailsPress', {id: '1' }) }}';
            path = path.replace('1',id);
            $.ajax({
                type: 'POST',
                url: path,
                data : {'id' : id},
                success: function(data) {
                   	var path = '{{ path("index_detailsPress", {id: 1}) }}';

                   	window.location.href = path.replace("1", id);

                },
                error: function(data) {
                },
            });
        });      
    </script>
{% endblock %}