{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
  {{parent()}}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css">
  <style>
    .xs-post-entry-title a{
          color: #626c84;
    }
    .mt-5{
      margin-top: 10rem!important;
    }
    .xs-banner-inner-section{
      padding-bottom: 0px;
    }
    .point-cu {
        color: #5cb37c !important;
        text-decoration: underline;
    }

    .img {
        float:  left;
        width: inherit;
        height: 13rem;
        background-size: cover;
    }
  </style>
  {% if app.request.locale == "ar" %}
    <style type="text/css" media="screen">
      
      
      .xs-unorder-list li i{
        padding-left: 17px;
      }
      .text-icon-mis{
        text-align: center !important;
      }
      .xs-contact-form .input-group-text{
        border-left: 2px solid #eeeeee;
        border-right: 0;
      }
      .xs-contact-form input:not([type="submit"]), .xs-contact-form textarea{
        border-left: 0;
        border-right: 2px solid #eeeeee;
      }
      .list-re{
        text-align: right !important;
          margin-right: 50px !important;
      }
      .xs-unorder-list li:before{
          position: absolute;
          content: "";
          left: auto;
          top: 0;
          font-family: "FontAwesome";
          color: #18bfc3;
          right: -45px;
      }
      .content-center{
        padding-right: 0px !important;
      }
      .black-title{
        text-align: right !important;
      }
      .link-re{
        text-align: right !important;
      }
      .breadcrumb{
        margin-top:15px;position: absolute;right: 15px;
      }
      @media only screen and (max-width: 992px){
        .breadcrumb{
          margin-top:15px;position: initial;
        }
      }
    </style>
  {% endif %}
{% endblock %}
{% block body %}
  {% if app.request.locale != "ar" %}
    {% include "TWCOndeBundle:Default:header.html.twig" %} 
  {% endif %}
  {% if app.request.locale == "ar" %}
    {% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
  {% endif %}
  
  <section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
    <div class="xs-black-overlay"></div>
      {# <div class="container">
        <div class="color-white xs-inner-banner-content">
          <ul class="xs-breadcumb">
            <li class="badge badge-pill badge-primary"><a href="index.html" class="color-white"> {{"realisation.text1"|trans}} /</a> {{"realisation.text2"|trans}}</li>
          </ul>
        </div>
      </div> #}
      
    </section>
  </section>

  <main class="xs-main">
    <section class="parallax-window xs-content-section-padding" style="">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 offset-lg-3 order-md-2 order-lg-first">
            <div class=" xs-inner-banner-content pb-3">
            <h2 class="color-title-b">{{"photo_video.title"|trans}}</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 text-lg-right order-md-first order-lg-2">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{"photo_video.title"|trans}}</li>
            </ol>
          </div>
        </div>
        <div class="row" >
          <div class="col-lg-12">
            <div class="xs-service-slider-content">
              <h2 class="black-title">{{"photo_video.title1"|trans}}</h2>
              <div class="row">
                <div class="col-md-12">
                  <div class="row" id="lightgallery">
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/CNDE/CNDE_1.jpg')}}" href="{{asset('assets/images/phototheque/CNDE/CNDE_1.jpg')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/CNDE/CNDE_1.jpg')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/CNDE/CNDE_2.jpg')}}" href="{{asset('assets/images/phototheque/CNDE/CNDE_2.jpg')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/CNDE/CNDE_2.jpg')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/CNDE/CNDE_3.jpg')}}" href="{{asset('assets/images/phototheque/CNDE/CNDE_3.jpg')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/CNDE/CNDE_3.jpg')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/CNDE/CNDE_4.jpg')}}" href="{{asset('assets/images/phototheque/CNDE/CNDE_4.jpg')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/CNDE/CNDE_4.jpg')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/CNDE/CNDE_5.jpg')}}" href="{{asset('assets/images/phototheque/CNDE/CNDE_5.jpg')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/CNDE/CNDE_5.jpg')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/CNDE/CNDE_6.jpg')}}" href="{{asset('assets/images/phototheque/CNDE/CNDE_6.jpg')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/CNDE/CNDE_6.jpg')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/CNDE/CNDE_7.jpg')}}" href="{{asset('assets/images/phototheque/CNDE/CNDE_7.jpg')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/CNDE/CNDE_7.jpg')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/CNDE/CNDE_8.jpg')}}" href="{{asset('assets/images/phototheque/CNDE/CNDE_8.jpg')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/CNDE/CNDE_8.jpg')}}');"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div><!-- .xs-service-slider-content END -->
          </div>
        </div>
        <hr class="ligne-sepa">
        <div class="row mt-4 pt-4" >
          <div class="col-lg-12">
            <div class="xs-service-slider-content">
              <h2 class="black-title">{{"photo_video.title2"|trans}}</h2>
              <div class="row">
                <div class="col-md-12">
                    <div class="row" id="lightgallery3">
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_1.JPG')}}" href="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_1.JPG')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_1.JPG')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_2.JPG')}}" href="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_2.JPG')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_2.JPG')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_3.JPG')}}" href="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_3.JPG')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_3.JPG')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_4.JPG')}}" href="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_4.JPG')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_4.JPG')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_5.JPG')}}" href="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_5.JPG')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_5.JPG')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_6.JPG')}}" href="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_6.JPG')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_6.JPG')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_7.JPG')}}" href="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_7.JPG')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_7.JPG')}}');"></div>
                    </a>
                    <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_8.JPG')}}" href="{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_8.JPG')}}">
                      <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Parlement_enfant/Parlement_enfant_8.JPG')}}');"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div><!-- .xs-service-slider-content END -->
          </div>
        </div>
        
        <hr class="ligne-sepa">
        <div class="row mt-4 pt-4">
          <div class="col-lg-12">
            <div class="xs-service-slider-content">
              <h2 class="black-title">{{"photo_video.title3"|trans}}</h2>
              <div class="row">
                <div class="col-md-12">
                  <div class="row" id="lightgallery2">
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_1.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_1.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_1.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_2.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_2.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_2.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_3.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_3.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_3.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_4.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_4.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_4.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_5.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_5.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_5.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_6.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_6.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_6.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_7.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_7.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_7.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_8.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_8.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_8.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_9.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_9.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_9.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_10.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_10.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_10.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_11.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Avocat/avocat_11.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Avocat/avocat_11.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_1.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_1.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_1.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_2.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_2.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_2.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_3.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_3.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_3.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_4.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_4.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_4.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_5.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_5.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_5.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_6.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_6.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_6.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_7.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_7.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_7.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_8.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_8.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_8.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_9.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_9.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_9.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_10.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_10.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_10.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_11.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_11.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_11.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_12.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_12.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_12.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_13.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_13.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_13.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_14.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_14.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_14.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_15.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_15.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_15.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_16.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_16.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_16.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_17.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_17.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_17.jpg')}}');"></div>
                      </a>
                      <a class="col-md-4 col-sm-6 col-lg-3 col-12 mb-2" data-exthumbimage="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_18.jpg')}}" href="{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_18.jpg')}}">
                        <div class="img" style="background-image:url('{{asset('assets/images/phototheque/Evenement/Seminaire/Seminaire_18.jpg')}}');"></div>
                      </a>
                    </div>
                </div>
              </div>
            </div><!-- .xs-service-slider-content END -->
          </div>
        </div>
      </div><!-- .container end -->
    </section>
  </main>
  {{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
  {{parent()}}
  <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery.min.js"></script>

    <!-- lightgallery plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lg-thumbnail/1.1.0/lg-thumbnail.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/1.1.0/lg-fullscreen.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery({
            download: false,
            thumbnail: true,
            exThumbImage: 'data-exthumbimage',
            counter: false
        }); 
        $("#lightgallery2").lightGallery({
            download: false,
            thumbnail: true,
            exThumbImage: 'data-exthumbimage',
            counter: false
        }); 
        $("#lightgallery3").lightGallery({
            download: false,
            thumbnail: true,
            exThumbImage: 'data-exthumbimage',
            counter: false
        }); 
    });
    </script>
  <script type="text/javascript">
    $( document ).ready(function() {
        $(".blue-header").css('display','none');
        $(".selected-it").addClass("active");
        $(".header-transparent .nav-menu li .selected-it .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
    });
  </script>
{% endblock %}