{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}{{"header.actualites"|trans}} {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style>
		.xs-unorder-list.check li{
			padding-left: 60px !important;
		}
		.left-descri{
				text-align: left;
			}
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
		.entry-date{
			color: #87ae81; font-size: 1.14286em; display: inline-block; line-height: 1;
		}
		.entry-date:hover{
			color: #87ae81; font-size: 1.14286em; display: inline-block; line-height: 1;
		}
		.entry-title > a {
		    color: #041d57 !important;
		}
		font{
			    font-size: 16px !important;
		    line-height: 20px !important;
		    letter-spacing: 1px !important;
		}
		.entry-title{
			color: #1e1e1e !important;
		}
		.breadcrumb{
			float: right;
			position: initial;
		}
		@media only screen and (max-width: 992px){
			.breadcrumb{
				float: none;
			}
		}
		{% if app.request.locale == "ar" %}
			.xs-blog-single	{
				direction: rtl;
			}
			.entry-title{
				text-align: right;
			}
		{% endif %}
	</style>
{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
			<div class="container">
				
			</div>
		</section>
	</section>

	<main class="xs-main">				
	<!-- blog single post -->
	<div class="xs-content-section-padding xs-blog-single">
	<div class="container">
		{# <div class=" xs-inner-banner-content pb-3">
			<h2 class="color-title-b">Details</h2>
		</div> #}
		<div class="row">
			<div class="col-lg-12 col-md-12 text-lg-right">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{"header.actualites"|trans}}</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<!-- format standard -->

				<article class="post format-standard hentry xs-blog-post-details">
					{% if 'mp4' in article.publication %}
						<video  controls style="margin-bottom: 45px;width: 100%;">
						  <source src="{{ asset(article.publication)}}" type="video/mp4">
						  <source src="{{ asset(article.publication)}}" type="video/ogg">
						Your browser does not support the video tag.
						</video>
					{% else %}
						<div class="post-media post-image" style="background-image: url({{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }});height: 450px;background-repeat:no-repeat;background-size: cover;background-position: center;">
						{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" class="img-responsive" alt="" style="height: 440px;"> #}
						</div><!-- .post-media END -->
					{% endif %}
					

					<div class="post-body xs-border xs-padding-40">
						<div class="entry-header">
							<div class="post-meta row">
								<div class="col-md-2 xs-padding-0">
				 					<span class="post-meta-date">
				 						{% if app.request.locale == "ar" %}
											<b>{{article.creationDate|date("d")}}</b>
											{% if article.creationDate|date("m") == 01 %}
											   يناير
											{% elseif article.creationDate|date("m") == 02 %}
											   فبراير
											{% elseif article.creationDate|date("m") == 03 %}
											   مارس
											{% elseif article.creationDate|date("m") == 04 %}
											   ابريل
											{% elseif article.creationDate|date("m") == 05 %}
											   مايو
											{% elseif article.creationDate|date("m") == 06 %}
											   يونيو
											{% elseif article.creationDate|date("m") == 07 %}
											   يوليو
											{% elseif article.creationDate|date("m") == 08 %}
											   أغسطس
											{% elseif article.creationDate|date("m") == 09 %}
											   سبتمبر												
											{% elseif article.creationDate|date("m") == 10 %}
											   أكتوبر
											{% elseif article.creationDate|date("m") == 11 %}
											   نوفمبر
											{% elseif article.creationDate|date("m") == 12 %}
											   ديسمبر
											{% endif %}
										<bdi>
										{% endif %}
										{% if app.request.locale != "ar" %}
				 							<b>{{article.creationDate|date("d")}}</b> {{article.creationDate|date("M")}}
										{% endif %}
				 					</span>
				 				</div>
							</div><!-- .row end -->
			 				<h2 class="entry-title xs-post-entry-title">
				 				{% if app.request.locale == "fr" %}
									<a href="#">{{article.titre}}</a>
								{% endif %}
								{% if app.request.locale == "en" %}
									<a href="#">{{article.titreEn}}</a>
								{% endif %}
								{% if app.request.locale == "ar" %}
									<a href="#">{{article.titreAr}}</a>
								{% endif %}
				 			</h2>
						</div><!-- header end -->
						
						<div class="entry-content">
							{% if app.request.locale == "fr" %}
								<p class="content-de">{{article.contenu|raw}}</p>
							{% endif %}
							{% if app.request.locale == "en" %}
								<p class="content-de">{{article.contenuEn|raw}}</p>
							{% endif %}
							{% if app.request.locale == "ar" %}
								<p class="content-de">{{article.contenuAr|raw}}</p>
							{% endif %}
							
{# 
							<p>Throw myself down teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary grow familiar with the countless indescribable forms of the insects and flies.  </p>


							<p>Throw myself down teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary grow familiar with the countless indescribable forms of the insects and flies.  </p> #}
							
						</div><!-- .xs-entry-content END -->

					</div><!-- post-body end -->
				</article><!-- .post  END -->
			</div>
			<div class="col-md-12 col-lg-4">
				<!-- sidebar content -->
				<div class="sidebar sidebar-right">
					<!-- search bar start -->
					{# <div class="widget widget_search">	
						<form class="xs-serachForm" method="get" action="GET">
							<input type="search" name="search" placeholder="Type keywords...">
							<input type="submit" value="">
						</form>
					</div> #}
					<!-- search bas stop -->
					<!-- recent post start -->
					<div class="widget recent-posts xs-sidebar-widget">
						<h3 class="widget-title">{{"header.actualites"|trans}}</h3>
						<ul class="xs-recent-post-widget">
							{% for item in articles %}
								{% if item.status != "draft" %}
									<li>
										<div class="posts-thumb float-left"> 
											<a href="{{ path('index_details', {id: item.id }) }}">
												<img alt="img" class="img-responsive" src="{{asset('assets/images/news_feeds_1.jpg')}}">
												<div class="xs-entry-date">
													{% if app.request.locale == "ar" %}
														<span class="entry-date d-block">{{article.creationDate|date("d")}}</span>
														<span class="entry-month d-block">
														{% if article.creationDate|date("m") == 01 %}
														   يناير
														{% elseif article.creationDate|date("m") == 02 %}
														   فبراير
														{% elseif article.creationDate|date("m") == 03 %}
														   مارس
														{% elseif article.creationDate|date("m") == 04 %}
														   ابريل
														{% elseif article.creationDate|date("m") == 05 %}
														   مايو
														{% elseif article.creationDate|date("m") == 06 %}
														   يونيو
														{% elseif article.creationDate|date("m") == 07 %}
														   يوليو
														{% elseif article.creationDate|date("m") == 08 %}
														   أغسطس
														{% elseif article.creationDate|date("m") == 09 %}
														   سبتمبر												
														{% elseif article.creationDate|date("m") == 10 %}
														   أكتوبر
														{% elseif article.creationDate|date("m") == 11 %}
														   نوفمبر
														{% elseif article.creationDate|date("m") == 12 %}
														   ديسمبر
														{% endif %}
														</span>
													<bdi>
													{% endif %}
													{% if app.request.locale != "ar" %}
														<span class="entry-date d-block">{{item.creationDate|date("d")}}</span>
														<span class="entry-month d-block">{{item.creationDate|date("M")}}</span>
													{% endif %}
												</div>
												<div class="xs-black-overlay bg-aqua"></div>
											</a>
										</div><!-- .posts-thumb END -->
										<div class="post-info">
											<h4 class="entry-title">
												<a href="{{ path('index_details', {id: item.id }) }}" style="text-overflow: ellipsis;
											    white-space: nowrap;
											    overflow: hidden;
											    width: 150px;">
												    {% if app.request.locale == "fr" %}
														{{item.titre}}
													{% endif %}
													{% if app.request.locale == "en" %}
														{{item.titreEn}}
													{% endif %}
													{% if app.request.locale == "ar" %}
														{{item.titreAr}}
													{% endif %}
												</a>
											</h4>
										</div><!-- .post-info END -->
										<div class="clearfix"></div>
									</li><!-- 1st post end-->
								{% endif %}
							{% endfor %}
							
							{# <li>
								<div class="posts-thumb float-left"> 
									<a href="#">
										<img alt="img" class="img-responsive" src="{{asset('assets/images/news_feeds_2.jpg')}}">
										<div class="xs-entry-date">
											<span class="entry-date d-block">23</span>
											<span class="entry-month d-block">sep</span>
										</div>
										<div class="xs-black-overlay bg-aqua"></div>
									</a>
								<div class="post-info">
									<h4 class="entry-title">
										<a href="#">Disaster Relief</a>
									</h4>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="posts-thumb float-left"> 
									<a href="#">
										<img alt="img" class="img-responsive" src="{{asset('assets/images/news_feeds_2.jpg')}}">
										<div class="xs-entry-date">
											<span class="entry-date d-block">05</span>
											<span class="entry-month d-block">oct</span>
										</div>
										<div class="xs-black-overlay bg-aqua"></div>
									</a>
								</div>
								<div class="post-info">
									<h4 class="entry-title">
										<a href="#">Disaster Relief</a>
									</h4>
								</div>
								<div class="clearfix"></div>
							</li> #}
						</ul>
					</div>

					<div class="widget widget_call_to_action">
						<a href="#" class="d-block">
							<img src="assets/images/side_add_baner.jpg" alt="">
						</a>
					</div>

				</div>	
		</div><!-- .row end -->
	</div><!-- .container end -->
</div>	<!-- End blog single post -->

</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		});
	</script>
{% endblock %}