{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}{{"header.actualites"|trans}} {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style>
		.xs-unorder-list.check li{
			padding-left: 60px !important;
		}
		.left-descri{
				text-align: left;
			}
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
		.entry-date{
			color: #87ae81; font-size: 1.14286em; display: inline-block; line-height: 1;
		}
		.entry-date:hover{
			color: #87ae81; font-size: 1.14286em; display: inline-block; line-height: 1;
		}
		.entry-title{
			display: -webkit-box;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    color: #1e1e1e !important;
		}
		.breadcrumb{
			margin-top:15px;position: absolute;right: 15px;
		}
		@media only screen and (max-width: 992px){
			.breadcrumb{
				margin-top:15px;position: initial;
			}
		}
		{% if app.request.locale == "ar" %}
			.list-articles	{
				direction: rtl;
			}
			.entry-meta{
				float: left;
				direction: ltr;
			}
			.entry-date{
				float: right;
			}
			.entry-title{
				margin-top: 38px;
			}
		{% endif %}
	</style>
	{% if app.request.locale == "ar" %}

	{% endif %}
{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
			<div class="container">
				{# <div class="color-white xs-inner-banner-content">
					<ul class="xs-breadcumb">
						<li class="badge badge-pill badge-primary"><a href="index.html" class="color-white"> {{"plaidoyer.text1"|trans}} /</a> {{"plaidoyer.text2"|trans}}</li>
					</ul>
				</div> #}
				
			</div>
		</section>
	</section>

	<main class="xs-main">
	<!-- blog section -->
	<section class="xs-content-section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 offset-lg-3 order-md-2 order-lg-first">
					<div class=" xs-inner-banner-content pb-3">
						<h2 class="color-title-b">{{"header.actualites"|trans}}</h2>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 text-lg-right order-md-first order-lg-2">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{"header.actualites"|trans}}</li>
					</ol>
				</div>
			</div>
			{# <div class=" xs-inner-banner-content pb-3">
				<h2 class="color-title-b">Actualités</h2>
			</div> #}
			<div class="row xs-mb-50 list-articles">
				{% for article in articles %}
					{% if article.status != "draft" %}
						<a href="" title="">
							<div class="col-lg-4 col-md-6 articles-details" data-id="{{article.id}}">
								<form action="" method="post">
									<div class="xs-box-shadow xs-single-journal xs-mb-30">
										<div class="entry-thumbnail" style="background-image: url({{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
											{# <img src="{{ article.image|length > 0 ? asset(article.image|first.Objectkey) : asset('assets/images/noimage.png') }}" alt=""> #}
											<div class="post-author">
												<span class="xs-round-avatar">
													<img class="img-responsive" src="{{asset('assets/images/logo_onde.png')}}" alt="">
												</span>
											</div>
										</div><!-- .xs-item-header END -->
										<div class="entry-header" style="min-height: 190px;">
											<div class="entry-meta">
												<span class="date">
													<a href=""  rel="bookmark" class="entry-date">
														<bdi>
														{% if app.request.locale == "ar" %}
															{{article.creationDate|date("d")}}
															{% if article.creationDate|date("m") == 01 %}
															   يناير
															{% elseif article.creationDate|date("m") == 02 %}
															   فبراير
															{% elseif article.creationDate|date("m") == 03 %}
															   مارس
															{% elseif article.creationDate|date("m") == 04 %}
															   ابريل
															{% elseif article.creationDate|date("m") == 05 %}
															   مايو
															{% elseif article.creationDate|date("m") == 06 %}
															   يونيو
															{% elseif article.creationDate|date("m") == 07 %}
															   يوليو
															{% elseif article.creationDate|date("m") == 08 %}
															   أغسطس
															{% elseif article.creationDate|date("m") == 09 %}
															   سبتمبر												
															{% elseif article.creationDate|date("m") == 10 %}
															   أكتوبر
															{% elseif article.creationDate|date("m") == 11 %}
															   نوفمبر
															{% elseif article.creationDate|date("m") == 12 %}
															   ديسمبر
															{% endif %}
															{{article.creationDate|date("Y")}}
														<bdi>
														{% endif %}
														{% if app.request.locale != "ar" %}
															{{article.creationDate|date("d M Y")}}
														{% endif %}
													</a>
												</span>
											</div>
											
											<h4 class="entry-title">
												{% if app.request.locale == "fr" %}
													<a href="#">{{article.titre}}</a>
												{% endif %}
												{% if app.request.locale == "en" %}
													<a href="#">{{article.titreEn}}</a>
												{% endif %}
												{% if app.request.locale == "ar" %}
													<a href="#">{{article.titreAr}}</a>
												{% endif %}
											</h4>
										</div><!-- .xs-entry-header END -->
										<span class="xs-separetor"></span>
									</div><!-- .xs-from-journal END -->
								</form>
							</div>
						</a>
					{% endif %}
				{% endfor %}
				{# <div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal  xs-mb-30">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_2.jpg')}}" alt="">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_2.jpg')}}" alt="">
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href=""  rel="bookmark" class="entry-date">
										02 May 2017
									</a>
								</span>
							</div>
							
							<h4 class="entry-title">
								<a href="#">South african pre primary school build for children</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div> #}
				{# <div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal  xs-mb-30">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_3.jpg')}}" alt="">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_3.jpg')}}" alt="">
								</span>
								<span class="author-name">
									<a href="#">By Evan</a>
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href=""  rel="bookmark" class="entry-date">
										13 January 2017
									</a>
								</span>
							</div>
							
							<h4 class="entry-title">
								<a href="#">Provide pure water for syrian poor people</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal xs-mb-30">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_4.jpg')}}" alt="">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_4.jpg')}}" alt="">
								</span>
								<span class="author-name">
									<a href="#">By Evan</a>
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href=""  rel="bookmark" class="entry-date">
										27th August 2017
									</a>
								</span>
							</div>
							
							<h4 class="entry-title">
								<a href="#">Brilliant After All, A New Album by Rebecca: Help poor people</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal  xs-mb-30">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_5.jpg')}}" alt="">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_5.jpg')}}" alt="">
								</span>
								<span class="author-name">
									<a href="#">By Revol</a>
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href=""  rel="bookmark" class="entry-date">
										02 May 2017
									</a>
								</span>
							</div>
							
							<h4 class="entry-title">
								<a href="#">South african pre primary school build for children</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal  xs-mb-30">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_6.jpg')}}" alt="">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_6.jpg')}}" alt="">
								</span>
								<span class="author-name">
									<a href="#">By Jocky</a>
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href=""  rel="bookmark" class="entry-date">
										13 January 2017
									</a>
								</span>
							</div>
							
							<h4 class="entry-title">
								<a href="#">Provide pure water for syrian poor people</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_7.jpg')}}" alt="">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_7.jpg')}}" alt="">
								</span>
								<span class="author-name">
									<a href="#">By Kalina</a>
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href=""  rel="bookmark" class="entry-date">
										27th August 2017
									</a>
								</span>
							</div>
							
							<h4 class="entry-title">
								<a href="#">Brilliant After All, A New Album by Rebecca: Help poor people</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_8.jpg')}}" alt="">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_8.jpg')}}" alt="">
								</span>
								<span class="author-name">
									<a href="#">By Killer</a>
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href=""  rel="bookmark" class="entry-date">
										02 May 2017
									</a>
								</span>
							</div>
							
							<h4 class="entry-title">
								<a href="#">South african pre primary school build for children</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="xs-box-shadow xs-single-journal">
						<div class="entry-thumbnail ">
							<img src="{{asset('assets/images/blog/blog_9.jpg')}}" alt="">
							<div class="post-author">
								<span class="xs-round-avatar">
									<img class="img-responsive" src="{{asset('assets/images/avatar/avatar_9.jpg')}}" alt="">
								</span>
								<span class="author-name">
									<a href="#">By Miller</a>
								</span>
							</div>
						</div><!-- .xs-item-header END -->
						<div class="entry-header">
							<div class="entry-meta">
								<span class="date">
									<a href=""  rel="bookmark" class="entry-date">
										13 January 2017
									</a>
								</span>
							</div>
							
							<h4 class="entry-title">
								<a href="#">Provide pure water for syrian poor people</a>
							</h4>
						</div><!-- .xs-entry-header END -->
						<span class="xs-separetor"></span>
					</div><!-- .xs-from-journal END -->
				</div> #}
			</div><!-- .row end -->

			<!-- pagination -->
			{# <ul class="pagination justify-content-center xs-pagination">
				<li class="page-item disabled">
					<a class="page-link" href="#" aria-label="Previous">
						<i class="fa fa-angle-left"></i>
					</a>
				</li>
				<li class="page-item"><a class="page-link active" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
				<li class="page-item"><a class="page-link" href="#">12</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<i class="fa fa-angle-right"></i>
					</a>
				</li>
			</ul> #}		
		</div>
	</section>	
</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-act").addClass('active');
		});
	</script>
	<script>
        $('.articles-details').on('click',function(e){
            var id = $(this).attr("data-id");
            path = '{{ path('index_details', {id: '1' }) }}';
            path = path.replace('1',id);
            $.ajax({
                type: 'POST',
                url: path,
                data : {'id' : id},
                success: function(data) {
                   	var path = '{{ path("index_details", {id: 1}) }}';

                   	window.location.href = path.replace("1", id);

                },
                error: function(data) {
                },
            });
        });      
    </script>
{% endblock %}