{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('assets/index/bootstrap.css')}}">
	{# <link rel="stylesheet" href="{{asset('assets/index/style.css')}}"> #}
	<link rel="stylesheet" href="{{asset('assets/index/carouselIndex.css')}}">
	<link rel="stylesheet" href="{{asset('assets/index/magnific-popup.css')}}">
	<link rel="stylesheet" href="{{asset('assets/index/nonprofit.css')}}">
	<style>
		.xs-banner-inner-section{
			padding-bottom: 50px;
		}
		.main-image{
			max-width: 50%;padding-right: 1rem;float: left;margin-right: 1rem;margin-top: 2rem;
		}
		.btn-pill{
		    -webkit-box-shadow: 0px 4px 16px 0px rgba(34, 185, 255, 0.15);
		    box-shadow: 0px 4px 16px 0px rgba(34, 185, 255, 0.15);
		    height: 46px;
		    padding-left: 3rem;
		    padding-right: 3rem;
		    border-radius: 2rem;
		    background-color: #fa575d;
		    border-color: #fa575d;
		    color: #ffffff;
		    font-weight: 600;
		}
		@media (max-width: 768px){
			.main-image{
				max-width: 100%;
				padding: 1rem;float: none;margin-right: 0rem;margin-top: 2rem;
			}
		}
		@media only screen and (max-width: 768px) and (min-width: 600px){
			.xs-partner-section {
			    padding-top: 75px !important;
			}
		}
		.video-container {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
		}

		.video-container iframe,  
		.video-container object,  
		.video-container embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	</style>
	{% if app.request.locale == "ar" %}
		<style type="text/css" media="screen">
			.p-description-first{
				text-align: right !important;
			}
			.color-title-b{
				direction: rtl;
			}
		</style>
	{% endif %}

{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
		<div class="container">
			
		</div>
	</section>

	<main class="xs-main">
		<section class=" xs-partner-section" style="background-image: url('{{asset('assets/images/map.png')}}');">

			<div class="container">
				<div class="row">
					
					<div class="col-lg-12 col-md-12 text-lg-right">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{"header.projets.campagneVillesAfricaines"|trans}}</li>
							
						</ol>
					</div>
					<div class="col-lg-12 col-md-12 mt-5">
						<div class=" xs-inner-banner-content pb-3">
							<h2 class="color-title-b">{{"campagne.title"|trans}}</h2>
						</div>
					</div>
				</div>
				{# <div class="xs-inner-banner-content pb-3">
					<h2 class="color-title-b">{{"campagne.title"|trans}}</h2>
				</div> #}
				<div class="row">
					{# <div class="col-lg-5">
						<div class="">
							
						</div>
					</div> #}
					{# <div class="offset-lg-2 col-lg-8" >
						<img src="{{asset('assets/images/ph-SAR-villes-sans-ESR.jpg')}}" alt="" class="rounded main-image" style="margin-bottom: 25px;"> 

					</div>#}
					<div class="col-lg-12" >
						<p class="p-description-first">
							{{"campagne.description"|trans|raw}}
						</p>
					</div>
				</div><!-- .row end -->
				<div class="row pt-4">
					<div class="offset-lg-2 offset-md-2 col-lg-8 col-md-8">
						{# <div class="xs-box-shadow xs-single-journal xs-mb-30">
							<div class="entry-thumbnail" style="background-image: url({{asset('assets/images/8.png')}});height: 220px;background-repeat:no-repeat;background-size: cover;background-position: center;">
							<div class="oc-desc d-flex flex-column justify-content-center">
								<a href="{{asset('assets/video/OBSERVATOIRE_VF_DEF.mp4')}}" data-lightbox="iframe" class=" d-flex align-items-center justify-content-center play-video rounded position-relative  mt-3 clearfix" style=""><i class="fa fa-play"></i></a>

							</div>
							</div>
						</div> #}
						<div class="video-container"><center><iframe width="560" height="315" src="{{ app.request.locale != "en" ? 'https://www.youtube.com/embed/cAgRCOcW59U': 'https://www.youtube.com/embed/tAyIVQD1ccQ'}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></div>
					</div>
					<div class="col-lg-12" style="text-align: center;">
						<br><br>
						<a href="http://rabatprotection.ma/" title="" target="_blank">
						<button type="submit" class="btn btn-brand btn-pill btn-elevate" id="submit-form">
							{{"campagne.link"|trans}}</button></a>
					</div>
				</div>
			</div><!-- .container end -->
		</section>
	</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/embed-js/5.0.3/embed.js"></script>
	<script src="{{asset('assets/index/jquery.js')}}"></script>
	<script src="{{asset('assets/index/plugins.js')}}"></script>
	<script src="{{asset('assets/index/jquery.calendario.js')}}"></script>
	<script src="{{asset('assets/index/events.js')}}"></script>
	<script src="{{asset('assets/index/functions.js')}}"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-pr").addClass("active");
		    $(".header-transparent .nav-menu li .selected-pr .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
		});
	</script>
{% endblock %}