{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style>
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
	</style>

{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
		<div class="container">
			
		</div>
	</section>

	<main class="xs-main">
		<div class="xs-content-section-padding xs-blog-single">
			<div class="container">
				<div class="xs-inner-banner-content pb-3">
					<h2 class="color-title-b">{{"cnde.title"|trans}}</h2>
				</div>
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<div class="xs-about-content-img" style="background-image:url('{{asset('assets/images/img15.jpg')}}')"></div>

					</div>
					<div class="col-md-12 col-lg-6">
						<div class="">
							<p class="p-description-first" >
								{{"cnde.description"|trans}}
							</p>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-pr").addClass("active");
		    $(".header-transparent .nav-menu li .selected-pr .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
		});
	</script>
{% endblock %}