{% extends 'TWCOndeBundle::ondelayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style>
		.xs-banner-inner-section{
			padding-bottom: 0px;
		}
	</style>
	{% if app.request.locale == "ar" %}
		<style type="text/css" media="screen">
			.p-description-first{
				text-align: right;
			}
			.breadcrumb{
				margin-top:15px;position: absolute;right: 15px;
			}
			@media only screen and (max-width: 992px){
				.breadcrumb{
					margin-top:15px;position: initial;
				}
			}
		</style>
	{% endif %}
{% endblock %}
{% block body %}
	{% if app.request.locale != "ar" %}
		{% include "TWCOndeBundle:Default:header.html.twig" %} 
	{% endif %}
	{% if app.request.locale == "ar" %}
		{% include "TWCOndeBundle:Default:headerAr.html.twig" %} 
	{% endif %}
	<section class="xs-banner-inner-section parallax-window" style="background-image:url('{{asset('front/images/backgrounds/parralax_3.jpg')}}');">
		<div class="xs-black-overlay"></div>
		<div class="container">
			
		</div>
	</section>

	<main class="xs-main">
		<div class="xs-content-section-padding xs-blog-single">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 offset-lg-3 order-md-2 order-lg-first">
						<div class=" xs-inner-banner-content pb-3">
							<h2 class="color-title-b">{{"observatoire.title"|trans}}</h2>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 text-lg-right order-md-first order-lg-2">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{path('twc_onde_homepage')}}">{{"header.accueil"|trans}}</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{"header.projets.veille_suivi"|trans}}</li>
						</ol>
					</div>
				</div>
				{# <div class="xs-inner-banner-content pb-3">
					<h2 class="color-title-b">{{"observatoire.title"|trans}}</h2>
				</div> #}
				<div class="row">
				<div class="col-lg-6">
					<div class="xs-fature-causes-deatils">
						<p class="p-description-first">
							{{"observatoire.description"|trans|raw}}
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="xs-causes-images">
						<img src="{{asset('assets/images/veille.jpeg')}}" class="d-block" alt="" style="width: 100%;">

					</div>
					{# <div class="xs-causes-images">
						<img src="{{asset('assets/images/img14.jpg')}}" class="d-block" alt=""  style="width: 100%;">
					</div> #}
				</div>
			</div>
				</div>
			</div>
		</div>
	</main>
	{{ render(controller("TWCOndeBundle:Default:footer")) }}
{% endblock %}
{% block custom_js %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $(".blue-header").css('display','none');
		    $(".selected-pr").addClass("active");
		    $(".header-transparent .nav-menu li .selected-pr .submenu-indicator-chevron").css("border-color","transparent #5cb37c #5cb37c transparent");
		});
	</script>
{% endblock %}