{% extends 'TWCParlementBundle::parlementlayout.html.twig' %}
{% block Title %}Homepage {{parent()}}{% endblock %}
{% block Style %}
	{{parent()}}
	<style type="text/css">
		.hrclass{
			margin-bottom: 2%;
    		margin-top: 4%;
		}
	</style>
{% endblock %}
{% block body %}
	{{ render(controller("TWCParlementBundle:Default:topMenu")) }}
	<div class="tho-option">
		<div id="preloader" class="smooth-loader-wrapper" style="display: none;">
	    	<div class="smooth-loader">
	      		<div class="loader">
	        		<span class="dot dot-1"></span>
			        <span class="dot dot-2"></span>
			        <span class="dot dot-3"></span>
			        <span class="dot dot-4"></span>
	      		</div>
	    	</div>
	  	</div>
	  	<section class="py-10">
  			<div class="container">
    			<div class="row">
      				<div class="col-xl-10">
        				<div class="" id="alerts">
          					<h1 class="element-title">Presentation du parlement de l'enfant</h1>
          					<p class="mb-4 font-size-20">ONDE works in 190 countries and territories to save children's lives, to defend their rights, and to help them fulfil their potential, from early childhood through adolescence. And we never give up.Discover UNICEF's work for every child, everywhere.</a></p>
						</div>
					</div>
				</div>
				<hr class="hrclass">
				<div class="row">
					<div class="col-md-6">
			          	<h1 class="element-title">Parlement de l'enfant</h1>
			          	<p class="mb-4 font-size-20">Parlement de l'enfant works in 190 countries and territories to save children's lives, to defend their rights, and to help them fulfil their potential, from early childhood through adolescence. And we never give up.Discover UNICEF's work for every child, everywhere.</p>
					</div>
					<div class="col-md-6">
	  					<img src="{{asset('front/img/take-action-optimized.jpg')}}" style="width:100%;">
					</div>
        		</div>
        		<hr class="hrclass">
        		<div class="row">
    				<div class="" id="alerts">
      					<h1 class="element-title">Devider</h1>
      					<p class="mb-4 font-size-20">ONDE works in 190 countries and territories to save children's lives, to defend their rights, and to help them fulfil their potential</a></p>
					</div>
				</div>
        		<div class="row">
        			<img src="{{asset('front/img/parlement.png')}}" style="width:100%;">
        		</div>
				<div class="tab-pane fade px-5 py-6 bg-light rounded shadow-sm active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h3 class="text-danger font-weight-medium mb-3">Product Description</h3>
        <p class="font-size-15 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspici atis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>

        <div class="row">
          <div class="col-md-5 col-lg-4 col-xl-3 pr-xl-0">
            <ul class="list-unstyled text-muted">
              <li class="d-flex flex-row align-items-baseline font-size-15 mb-2">
                <i class="fa fa-check mr-2" aria-hidden="true"></i>Vestibulum iaculis quam.
              </li>
              <li class="d-flex flex-row align-items-baseline font-size-15 mb-2">
                <i class="fa fa-check mr-2" aria-hidden="true"></i>Quam ac libero volutpat placerat.
              </li>
              <li class="d-flex flex-row align-items-start font-size-15 mb-2">
                <i class="fa fa-check mr-2" aria-hidden="true"></i>Iaculis quam ac libero.
              </li>
            </ul>
          </div>

          <div class="col-md-5 col-lg-4 col-xl-4 pl-xl-6 pr-xl-0">
            <ul class="list-unstyled text-muted">
              <li class="d-flex flex-row align-items-baseline font-size-15 mb-2">
                <i class="fa fa-check mr-2" aria-hidden="true"></i>Vestibulum iaculis quam.
              </li>
              <li class="d-flex flex-row align-items-baseline font-size-15 mb-2">
                <i class="fa fa-check mr-2" aria-hidden="true"></i>Quam ac libero volutpat placerat.
              </li>
              <li class="d-flex flex-row align-items-baseline font-size-15 mb-2">
                <i class="fa fa-check mr-2" aria-hidden="true"></i>Iaculis quam ac libero.
              </li>
            </ul>
          </div>
        </div>
      </div>
			</div>
			
		</section>
		
	</div>
	
{% endblock %}